body {
  overflow-y: scroll;
}

.bg > div {
  @include fixed($headerHeight, 0, 0, 0);
  @include block();
  @include bg-size('bg/BG_01.jpg', cover);

  z-index: -10;

  &.bg-1 {
    background-image: url($imgBase + 'bg/BG_01.jpg');
  }

  &.bg-2 {
    background-image: url($imgBase + 'bg/BG_02.jpg');
  }
}

.panel {
  @include fixed($headerHeight, 0, auto, 0);

  z-index: 1024;
  background: #0A3949;
  height: $headerHeight;
}

.slides {
  display: none;
}

.slide-01 {
  .left-waves {
    div {
      @include fixed($headerHeight, 0, 0, 0);
      @include block(100%, auto);

      transform: scaleX(1);
      transform-origin: 0 0;
      backface-visibility: hidden;
    }

    @for $i from 1 through 4 {
      .wave-#{$i} {
        @include bg-size('waves/mev_waves_L#{$i}.png', auto 100%, 0 0);

        z-index: 10 * $i;
      }
    }
  }

  .logo {
    @include abs(114px, 56px, auto, 0);
    @include block(430px, 201px);

    margin: auto;
    z-index: 100;

    .letters {
      @include abs-point(84px, 51px);
      @include block(188px, 39px);
    }

    .image {
      @include abs(0, 0);
      @include block(193px, 201px);
    }
  }

  .use-scroll {
    @include abs(615px, 21px, auto, 0);
    @include block(300px, auto);

    margin: auto;
    text-align: center;
    z-index: 800;
    font-size: 18px;
    font-weight: 300;
    color: #36639e;

    i {
      @include rel(13px);
      @include inline-block(13px, 33px);
      @include bg('slide-01/scroll_icon.gif');

      margin: 0 15px;
    }
  }

  .packs {
    .pack-back {
      @include abs(320px, 0, auto, 0);

      width: 505px;
      margin: auto;

      &:before,
      &:after {
        content: '';
      }

      &:before {
        @include abs-point(0, 0);
        @include block(182px, 292px);
        @include bg('packs/SKU_Original_01.jpg');
      }

      &:after {
        @include abs-point(0, 309px);
        @include block(182px, 293px);
        @include bg('packs/SKU_WindBlue_01.jpg');
      }
    }

    .pack-front {
      @include abs(295px, 0, auto, 0);
      @include block(218px, 348px);
      @include bg('packs/SKU_SkyBlue_01.jpg');

      margin: auto;
    }
  }

  .lights {
    @include abs();

    z-index: 50;

    .light-top {
      @include abs-point(0, 260px);
      @include block(800px, 630px);
      @include bg-size('slide-01/light_01_x2reduced.png');
    }

    .light-bottom {
      @include abs-point(0, 180px);
      @include block(880px, 490px);
      @include bg-size('slide-01/light_02_x2reduced.png');
    }
  }
}


.slide-02 {
  position: relative;

  .text-mission,
  .text-go-through,
  .text-bonus {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
  }

  .text-mission {
    @include abs(215px, -2000px);
    @include block(100%, auto);

    text-align: center;
  }

  .text-go-through {
    @include abs(215px, -2000px);
    @include block(100%, auto);

    box-sizing: border-box;
    padding-left: 10%;
  }

  .text-read-careful,
  .text-answer,
  .text-unlock {
    @include rel();

    text-transform: uppercase;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
  }

  .text-read-careful {
    margin-top: 68px;

    svg,
    img {
      @include abs-point(-7px, 468px);
      @include inline-block(245px, 60px);
    }

    img {
      display: inline;
    }
  }

  .text-answer {
    margin-top: 95px;

    svg,
    img {
      @include abs-point(-53px, 497px);
      @include inline-block(184px, 140px);
    }

    img {
      display: inline;
    }
  }

  .text-unlock {
    margin-top: 100px;

    svg,
    img {
      @include abs-point(-57px, 345px);
      @include inline-block(345px, 123px);
    }

    img {
      display: inline;
    }
  }

  .text-bonus {
    @include rel();

    margin-top: 200px;
    margin-left: 10px;

    .kaz & {
      padding-top: 20px;
    }

    .text-bonus-text {
      @include abs-point(-113px, 200px);

      text-transform: uppercase;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: -.01em;
    }

    svg,
    img {
      @include abs-point(-148px, -34px);
      @include inline-block(728px, 206px);
    }

    img {
      display: inline;
    }
  }

  .tip-sidebar {
    @include fixed(0, 0, 0);
    @include block(54px, auto);

    padding-top: 162px;

    &:before {
      @include abs(0, 0, 0, 0);
      @include block();
      @include bg-size('panel-right/progressbar-body.jpg', 100% 100%);

      content: '';
      opacity: .8;
    }

    .icons {
      margin: auto;
      width: 34px;

      .passed {
        @include rel-point(10px);
        @include block(29px);
        @include bg-size('panel-right/SB_icon_ring.svg');

        margin-bottom: 84px;
      }

      .current {
        @include rel-point(10px);
        @include block(29px);
        @include bg-size('panel-right/SB_icon_disk.svg');

        margin-bottom: 84px;
      }

      .open {
        @include rel-point(10px);
        @include block(29px, 42px);
        @include bg-size('panel-right/SB_icon_unlock.svg');

        margin-bottom: 78px;
      }

      .closed {
        @include rel-point(10px);
        @include block(29px, 42px);
        @include bg-size('panel-right/SB_icon_lock.svg');
      }

      div + div:before {
        @include abs(-73px, 0, auto, 0);
        @include block(1px, 63px);

        content: '';
        background: #fff;
        margin: auto;
      }
    }

    .tips {
      @include abs(0, 30px);

      div {
        @include abs(168px, 9px);
        @include block(auto, 36px);


        border-radius: 18px 0 0 18px;
        color: #36639e;
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        text-align: right;
        padding: 0 45px 0 20px;
        line-height: 38px;
        white-space: nowrap;
        letter-spacing: .05em;
      }

      .passed {
        @include bg('panel-right/SB_white-tip.svg', 100% 0);

        top: 168px;
      }

      .current {
        @include bg('panel-right/SB_white-tip.svg', 100% 0);

        top: 282px;
      }

      .open {
        @include bg('panel-right/SB_yellow-tip.svg', 100% 0);

        top: 402px;
        color: #5b4a00;
      }

      .closed {
        @include bg('panel-right/SB_blue-tip.svg', 100% 0);

        top: 521px;
        color: #5b9bd1;
      }
    }
  }

  .text-victory-mission {
    @include abs(314px, 0, 0, 0);
    @include block(500px, 50px);

    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }
}

@media (max-width: 1280px) {
  .slide-02 .text-go-through {
    padding-left: 2%;
  }
}

.slide-03 {
  .logo {
    @include abs(112px, 0, 0, 0);
    @include block(950px, 345px);

    margin: -70px auto 0 auto;
    text-align: center;

    .light-hor,
    .light-circle {
      @include abs(85px, 0, 0, 0);

      margin: auto;
      opacity: .6;
    }

    .light-hor {
      @include block(950px, 323px);
      @include bg-size('slide-03/light_03.png', 100% 100%);
    }

    .light-circle {
      @include block(470px, 345px);
      @include bg-size('slide-03/light_03.png', 100% 100%);
    }

    a {
      @include abs(0, 0, 0, 65px);
      @include block(271px, 105px);
      @include bg-size('slide-03/mevius_logo_big.png', 100% 100%);

      margin: auto;
      z-index: 50;
    }

    .logo-text {
      @include abs(271px, 0, 0, 0);
      @include block(659px, 76px);
      @include bg('slide-03/mevius_logo_text.png');

      margin: 0 auto;
      z-index: 40;

      .kaz & {
        @include bg('slide-03/mevius_logo_text-kaz.png');
      }
    }

    .footnote {
      @include fixed(6px, 0, auto, 0);

      color: #082b5a;
      font-size: 12px;
      font-weight: 300;
    }
  }

  .info {
    @include abs-point(436px);

    .info-blocks div {
      @include abs(0, 0, 0, 0);
      @include block(270px, 100px);

      color: #a2faff;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;

      &.info-filter {
        left: 265px;

        &:before {
          @include abs-point(-126px, 2px);
          @include block(185px, 106px);
          @include bg('slide-03/360_logo.svg');

          content: '';
        }
      }

      &.info-taste {
        top: 150px;
        left: 532px;

        &:before {
          @include abs-point(-74px, -1px);
          @include block(210px, 54px);
          @include bg('slide-03/CnS_logo.svg');

          content: '';
        }
      }

      &.info-smell {
        top: 300px;
        left: 825px;

        &:before {
          @include abs-point(-99px, 0);
          @include block(195px, 78px);
          @include bg('slide-03/LSS_logo.svg');

          content: '';
        }
      }
    }

    .info-common {
      @include abs-point(400px, 266px);
      @include block(800px, 55px);

      color: #feffff;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: .005em;
    }
  }

  .pack {
    .text {
      @include abs-point(341px, 341px);

      white-space: nowrap;
      color: #5b9bd1;
      font-size: 34px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1em;
    }

    .image {
      @include abs(66px, 142px);
      @include block(349px, 546px);
      @include bg('slide-03/SKU_SkyBlue_open.png');
    }
  }
}

.slide-04 {
  .lss-mask {
    @include fixed(0, 0, 0, 0);
    @include block(100%, 100%);
    @include bg-size('bg/BG_03.jpg', cover);

    .dotted-bg {
      @include abs(0, 0, -400px, 0);
      @include block(100%, auto);
      @include bg('LSS/dots_BG_01.png', 64% 0);

      color: #fff;

      .about-block {
        position: relative;
      }

      .about {
        @include abs-point(121px, 712px);
        @include block(397px, 254px);
        @include bg('LSS/LSS_about.png', 0 0);

        .kaz & {
          @include bg('LSS/LSS_about-kaz.png', 0 0);
        }
      }

      .cigarette-paper {
        @include abs-point(395px, 523px);
        @include block(700px, 175px);
        @include bg('LSS/LSS_icon_01.png', 0 0);

        padding-left: 190px;
        font-size: 23px;
        font-weight: 300;
        line-height: 173px;
        letter-spacing: -.02em;
      }

      .cigarette {
        @include abs-point(25px, 585px);
        @include block(449px, 617px);
        @include bg('LSS/LSS_illustration.png');
      }

      .list {
        @include abs-point(92px, 214px);

        white-space: nowrap;
        font-size: 35px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -.02em;

        div {
          @include abs-point(92px, -9px);
          @include block(400px, 124px);
          @include bg('LSS/LSS_icon_02.png', 0 0);

          padding-top: 41px;
          padding-left: 135px;
          box-sizing: border-box;
          font-size: 28px;
          font-weight: 300;
          line-height: 35px;
          letter-spacing: 0;
        }

        div.icon-hair {
          @include bg('LSS/LSS_icon_02.png', 0 0);

          top: 71px;
        }

        div.icon-arm {
          @include bg('LSS/LSS_icon_03.png', 0 0);

          top: 182px;
        }

        div.icon-car {
          @include bg('LSS/LSS_icon_04.png', 0 0);

          top: 294px;
        }

        div.icon-around {
          @include bg('LSS/LSS_icon_05.png', 0 0);

          top: 405px;
          padding-top: 23px;
        }
      }
    }

    .bottom-wave {
      @include fixed(2000px, 0, auto, 0);
      @include block(100%, 200%);
      @include bg-size('mev_wave_transition_01.png', contain);

      opacity: .5;
      backface-visibility: hidden;
    }

    svg {
      @include abs(0, 0, 0, 0);
      @include block();
      //@include bg('LSS/LSS_illustration.png', 29.5% 80px);

      margin: 0;
    }
  }
}

.slide-05 {
  .bg-5 {
    @include fixed($headerHeight, 0, 0, 0);
    @include block();
    @include bg-size('bg/BG_04.jpg');
  }

  .bg-5-bottom {
    @include abs(0, 0, 0, 0);
    @include block();
    @include bg-size('slide-05/ORB_reduced_bottom.png', contain);
  }

  .bg-5-top {
    @include rel(0, 0, 0, 0);
    @include block();
    @include bg-size('slide-05/ORB_reduced_top.png', contain);
  }

  .info {
    position: absolute;

    .logo {
      @include abs-point(172px, 209px);
      @include block(266px, 69px);
      @include bg('slide-05/closenseal_logo_big.png');
    }

    .text {
      @include abs-point(270px, 208px);

      white-space: nowrap;
      font-size: 37px;
      line-height: 37px;
      letter-spacing: -.025em;
      color: #fff;

      span {
        display: block;
        padding-left: 1px;
        padding-top: 2px;
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
        letter-spacing: -.03em;
      }
    }

    .pack-glow {
      @include abs-point(38px, 523px);
      @include block(613px, 710px);
      @include bg('slide-05/CnS_pack_glow.png');

      .pack {
        @include abs-point(92px, 91px);
        @include block(429px, 526px);
        @include bg('slide-05/CnS_pack.png');
      }

      .action {
        @include abs-point(39px, 291px);
        @include block(245px, 251px);
        @include bg('slide-05/CnS_pack_action.png');

        z-index: 20;
      }
    }
  }

  .info2 {
    @include abs-point(194px, 605px);

    padding-top: 185px;
    white-space: nowrap;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -.02em;
    color: #fff;

    &:before {
      @include abs-point(0, -7px);
      @include block(175px);
      @include bg('slide-05/CnS_icon_01.png');

      content: '';
    }

    span {
      display: block;
      padding-top: 12px;
      white-space: nowrap;
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      letter-spacing: -.005em;
    }
  }
}

.game2-bg {
  @include fixed($headerHeight, 0, 0, 0);
  @include bg-size('bg/BG_03.jpg', cover);

  z-index: 50;
  border-radius: 0px 100% 0px 0px / 0px 300px 0px 0px;

  &.skrollable-after {
    border-radius: 0 !important;
  }

  .dots {
    @include abs(0, 0, 0, 0);
    @include bg-size('LSS/dots_BG_01.png', contain);
  }

  .light {
    @include abs(400px, 0, 55px, 200px);
    @include block();
    @include bg('sunbeam_01.png', 100% 100%);

    z-index: 10;
  }

  .wave {
    @include abs(-350px, 0, auto, 0);
    @include block(100%, 2000px);
    @include bg-size('slide-05/mev_wave_transition_02.png', 100% auto);

    backface-visibility: hidden;
  }
}

.slide-06 {
  @include fixed($headerHeight, 0, auto, 0);
  @include block(100%, 4000px);
  @include bg-size('bg/BG_03.jpg', 110%);

  z-index: 0;
  border-radius: 0 0 100% 0 / 0 0 50% 0;

  .light {
    @include abs(400px, 0, 55px, 200px);
    @include block();
    @include bg('sunbeam_01.png', 100% 100%);

    z-index: -1;
  }

  .wave {
    @include abs(auto, 0, 0, 0);
    @include block(100%, 2000px);
    @include bg-size('mev_wave_transition_01.png', contain, 50% 100%);

    backface-visibility: hidden;
    z-index: 100;
  }

  .cigarette {
    @include abs-point(342px, 381px);
    @include block(415px, 613px);
    @include bg('360/360_illustration_01.png');

    div {
      @include abs-point(-391px, 82px);
      @include block(1045px, 528px);
      @include bg('360/360_illustration_02.png');
    }
  }

  .info {
    @include abs-point(205px, 202px);

    padding-top: 137px;
    white-space: nowrap;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: .015em;
    color: #fff;

    .ico {
      @include abs-point(5px, 0);
      @include block(194px, 110px);
      @include bg('360/360_logo_big.png');
    }

    span {
      display: block;
      margin-top: -1px;
      white-space: nowrap;
      font-size: 29px;
      line-height: 36px;
      letter-spacing: -.01em;
    }
  }

  .info2 {
    @include abs-point(179px, 636px);

    padding-top: 185px;
    white-space: nowrap;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: .007em;
    color: #fff;

    .ico {
      @include abs-point(196px, -218px);
      @include block(174px, 173px);
      @include bg('360/info_ico2.png');
    }

    span {
      display: block;
      margin-top: 11px;
      white-space: nowrap;
      font-size: 29px;
      line-height: 36px;
      letter-spacing: .005em;
      text-transform: uppercase;
    }

    div {
      display: block;
      padding-top: 10px;
      white-space: nowrap;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0;
    }
  }
}


.game3-bg {
  @include fixed($headerHeight, 0, 0, 0);
  @include bg-size('bg/BG_03.jpg', cover);

  z-index: 50;

  &:before {
    @include abs(-180px, 0, 0, 0);
    @include bg-size('slide-05/ORB_reduced_bottom.png', auto 1200px);

    content: '';
    opacity: .5;
    margin-right: -1450px;
  }

  .light {
    @include abs(-300px, 0, 55px, 200px);
    @include block();
    @include bg('sunbeam_01.png', 100% 100%);

    z-index: -1;
  }
}

.slide-07 {
  @include fixed($headerHeight, 0, auto, 0);
  @include block(100%, 4000px);
  @include bg-size('bg/BG_02.jpg', 110%);

  z-index: 0;
  border-radius: 0 0 100% 0 / 0 0 50% 0;

  .wave {
    @include abs(auto, 0, 0, 0);
    @include block(100%, 2000px);
    @include bg-size('mev_wave_transition_01.png', contain, 50% 100%);

    z-index: 100;
    backface-visibility: hidden;
  }

  .image {
    @include abs-point(34px, 161px);
    @include block(475px, 507px);
    @include bg('slide-07/main-img.png');
  }

  .text1 {
    @include abs-point(188px, 638px);

    white-space: nowrap;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: .025em;
    color: #fff;
  }

  .text2 {
    @include abs-point(304px, 640px);

    white-space: nowrap;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: .015em;
    color: #fff;

    span {
      display: block;
      white-space: nowrap;
      font-size: 29px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0;
      text-transform: uppercase;
    }
  }
}

.game4-bg {
  @include fixed($headerHeight, 0, 0, 0);
  @include bg-size('bg/BG_02.jpg', cover);

  z-index: 50;

  .bg {
    @include abs(0, 0, 0, 0);
    @include bg-size('slide-05/ORB_reduced_bottom.png', auto 1000px);

    opacity: .5;
    margin-right: -800px;
  }
}

.slide-07-continue {
  position: absolute;
  z-index: 90;

  .pack-left {
    @include abs-point(56px, 125px);
    @include block(309px, 399px);
    @include bg('slide-07/SKU_SkyBlue_original_02.png');
  }

  .pack-top {
    @include abs-point(-86px, 865px);
    @include block(260px, 320px);
    @include bg('slide-07/SKU_SkyBlue_windblue_02.png');
  }

  .pack-bottom {
    @include abs-point(282px, 930px);
    @include block(202px, 397px);
    @include bg('slide-07/SKU_SkyBlue_skyblue_02.png');

    z-index: 10;
  }

  .text {
    @include abs(192px, 0, auto, 0);
    @include block(600px, auto);

    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 29px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0;
    color: #fff;

    span {
      display: block;
      padding-top: 53px;
      white-space: nowrap;
      font-size: 31px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0;
      text-transform: uppercase;
    }
  }
}

.slide-08 {
  @include fixed($headerHeight, 0, 0, 0);
  @include block(100%, auto);
  @include bg-size('bg/BG_01.jpg', cover);

  z-index: 0;

  .logo {
    @include abs(114px, 56px, auto, 0);
    @include block(430px, 201px);

    margin: auto;
    z-index: 100;

    .letters {
      @include abs-point(84px, 51px);
      @include block(188px, 39px);
    }

    .image {
      @include abs(0, 0);
      @include block(193px, 201px);
    }
  }

  .text-congratulation {
    @include abs(330px, 0, auto, 0);
    @include block(600px, auto);

    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 29px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
    color: #36639e;
    text-transform: uppercase;

    span {
      display: block;
      margin-left: -10px;
      white-space: nowrap;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0;
      text-transform: none;
    }
  }

  .text-prize {
    @include abs(300px, 0, auto, 0);
    @include block(600px, auto);

    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    color: #36639e;

    span {
      display: block;
      white-space: nowrap;
      font-size: 25px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: -.025em;
    }
  }

  .left-waves {
    div {
      @include fixed($headerHeight, 0, 0, 0);
      @include block(100%, auto);

      transform: scaleX(1);
      transform-origin: 0 0;
      backface-visibility: hidden;
    }

    @for $i from 1 through 4 {
      .wave-#{$i} {
        @include bg-size('waves/mev_waves_L#{$i}.png', auto 100%, 0 0);

        z-index: 10 * $i;
      }
    }
  }

  .pack {
    @include abs-point(142px, 282px);
    @include block(304px, 505px);
    @include bg('slide-08/SKU_SkyBlue_sprt_w304h505.png', 0 0);
  }

  .mevius-logo {
    @include abs-point(70px, 638px);
    @include block(271px, 105px);
    @include bg('slide-08/mevius_logo_big.png');
  }

  .texts {
    position: relative;
  }

  .text-you-know {
    @include abs-point(232px, 637px);

    white-space: nowrap;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .015em;
    color: #36639e;
    text-transform: uppercase;

    span {
      display: block;
      white-space: nowrap;
      font-size: 25px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: -.02em;
      text-transform: none;
    }
  }

  .text-because {
    @include abs-point(365px, 640px);

    white-space: nowrap;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: .005em;
    color: #36639e;

    span {
      display: block;
      margin-top: -3px;
      white-space: nowrap;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: -.005em;
    }

    div {
      display: block;
      white-space: nowrap;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -.01em;
    }
  }

  .logo-360 {
    @include abs-point(547px, 648px);
    @include block(88px, 66px);
    @include bg('slide-08/logo_360.png');
  }

  .logo-lss {
    @include abs-point(558px, 788px);
    @include block(115px, 56px);
    @include bg('slide-08/logo_lss.png');
  }

  .logo-cs {
    @include abs-point(558px, 944px);
    @include block(110px, 57px);
    @include bg('slide-08/logo_cs.png');
  }

  .text-last {
    @include abs-point(271px, 338px);

    white-space: nowrap;
    font-size: 29px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: -.01em;
    color: #36639e;
    text-transform: uppercase;

    a {
      color: #36639e;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: #5b9bd1;
      }
    }

    span {
      font-weight: 700 !important;
    }

    div {
      display: block;
      padding-top: 10px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: -.01em;
      text-transform: none;
    }
  }

  .frontscene {
    position: absolute;
    z-index: 150;
  }

  .footnote {
    @include fixed(6px, auto, auto, auto);

    margin-left: 640px;
    color: #082b5a;
    font-size: 12px;
    font-weight: 300;
  }

  .lights {
    @include abs();

    .light-top {
      @include abs-point(-120px, -50px);
      @include block(800px, 630px);
      @include bg-size('slide-01/light_01_x2reduced.png');
    }

    .light-bottom {
      @include abs-point(-230px, 200px);
      @include block(880px, 490px);
      @include bg-size('slide-01/light_02_x2reduced.png');
    }
  }
}
