<%@ Page Language="C#" AutoEventWireup="true" CodeFile="game.aspx.cs" Inherits="Games_game" %>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Mevius</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<link rel="stylesheet" href="css/main.css">
	<script src="js/external/vendor/modernizr-2.8.3.min.js"></script>
  <script>
    APP = window.APP || {};
    APP.Helpers = APP.Helpers || {};
  </script>
</head>
<body class="kaz">

	<div class="bg">
    <div class="bg-1"
      data-0="opacity: 1;"
      data-1800="opacity: 1;"
      data-3600="opacity: 0;"
      data-_slide03-9300="opacity: 0;"
      data-_slide03-12300="opacity: 1;"
      ></div>
    <div class="bg-2"
      data-1800="opacity: 0;"
      data-3600="opacity: 1;"
      data-_slide03-9300="opacity: 1;"
      data-_slide03-12300="opacity: 0;"
      ></div>
	</div>
	<div class="panel"></div>

  <div class="preloader js-preloader">
  <div class="logo"></div>
  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

  <div class="progress-bar"
  data-_slide04="right: -54px;"
  data-_slide04-1000="right: 0px;"
  data-_slide07-1500="right: 0px;"
  data-_slide07-2500="right: -54px;"
  >
  <div class="logo"
    data-_slide04="left: 0px; opacity: 0;"
    data-_slide04-1000="left: -161px; opacity: 1;"
    data-_slide07-1500="left: -161px; opacity: 1;"
    data-_slide07-2500="left: 0px; opacity: 0;"
  >
    <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Isolation_Mode" class="letters" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="187.8px" height="39.3px" viewBox="945.8 337.9 187.8 39.3" enable-background="new 945.8 337.9 187.8 39.3"
	 xml:space="preserve">
<g>
	<path fill="#ffffff" d="M952.4,365.4c-0.3,3.9-0.3,8.2,0.1,9.4v0.3H947v-0.3c0.5-1.4,1.3-5.6,1.7-9.4l1.6-19.7
		c0.1-2.3-0.2-4.5-0.8-5.3v-0.2h9.5v0.2c0,1.4,3.2,11.3,8.7,26h0.2c6.6-17.1,9.1-24,9.3-26v-0.2h9.6v0.2c-0.4,1.2-0.9,5.4-0.6,9.3
		l0.8,15.7c0.2,3.9,0.6,8.2,1,9.4v0.3h-7.6v-0.3c0.4-2.3,0.4-5.6,0.2-9.4l-0.9-19.1h-0.1c-3.5,8.8-9.2,23.8-10.8,28.8h-4.7
		c-3.4-10.4-8.9-25.8-10-28.5h-0.2L952.4,365.4z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
  ></path>
	<path fill="#ffffff" d="M997.2,375.1v-0.3c0.4-1.2,0.8-5.6,0.8-9.4v-15.6c0-3.9-0.4-8.1-0.8-9.4v-0.2h17.8l1,4.5h-0.2
		c-1.1-0.5-4.9-1.1-7.5-1.1h-4v11.7h3.9c2.2,0,5-0.1,6.6-1h0.2v5.5h-0.2c-1.6-0.9-4.4-1-6.6-1h-3.9v12.8h6.8c2.7,0,6.8-0.8,8.5-1.8
		h0.3l-1,5.3L997.2,375.1L997.2,375.1z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1037.7,367.5c6.5-18.1,8.6-25.6,8.7-27.1v-0.2h5.9v0.2c-0.7,0.9-5,10.9-11.6,29.6l-1.7,5.1h-5.5
		c-0.5-1.8-1.1-3.4-1.7-5c-6.7-18.7-10.2-28.5-11-29.7v-0.2h7.9v0.3c0,1.4,3.7,13.1,8.7,27.1H1037.7z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1065,340.1v0.2c-0.4,1.2-0.8,5.6-0.8,9.4v15.6c0,3.9,0.4,8.2,0.8,9.4v0.3h-7.6v-0.3
		c0.4-1.2,0.8-5.6,0.8-9.4v-15.6c0-3.9-0.4-8.1-0.8-9.4v-0.2H1065z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1081.5,363.7c0,5.8,2.8,8.4,7.7,8.4c5.2,0,8.2-2.7,8.2-8.4v-11.8c0-3.9-0.3-9.2-1.2-11.5v-0.2h6.1v0.2
		c-0.5,2.2-0.8,7.6-0.8,11.5v12.5c0,7.8-5.8,11.6-12.6,11.6c-9.3,0-13.5-4-13.5-11.6v-14.5c0-3.9-0.4-8.1-0.8-9.4v-0.2h7.6v0.2
		c-0.4,1.2-0.8,5.6-0.8,9.4V363.7L1081.5,363.7z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1128.7,346.2h-0.4c-1.7-2.6-4.7-3.8-7.4-3.8c-3.1,0-6.1,1.5-6.1,5.2c0,3.2,2.1,4.7,7.4,6.7
		c7.5,2.7,9.8,5.6,9.8,11c0,7.8-6.5,10.9-12.8,10.9c-3.2,0-7.8-0.7-10.7-2.3l1.5-5.4h0.4c2.2,2.9,6.1,4.4,9.1,4.4
		c4,0,7.1-1.7,7.1-5.7c0-3.2-1.9-5.1-8-7.4c-7.5-2.8-9-6.2-9-10.5c0-7,5.9-10.1,11.6-10.1c4.5,0,7.4,1.2,9.1,2.4L1128.7,346.2z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
</g>
</svg>

    <img src="img/progress-bar/Mevius_small_propeller.png" alt="Mevius" class="image">
  </div>
  <div class="icons">
    <!-- lss1 -->
    <div class="icon">
      <div class="passed js-navigate" data-anchor="lss1" data-shift="0"
        data-_lss2--1="opacity: !0; left: !30px;"
        data-_lss2="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-0="       opacity: !1; left: !0px;"
        data-_lss2--1="opacity: !1; left: !0px;"
        data-_lss2="   opacity: !0; left: !30px;"
      ></div>
      <!--div class="open"></div-->
      <!--div class="closed"></div-->
    </div>

    <!-- lss2 -->
    <div class="icon">
      <div class="passed js-navigate" data-anchor="lss2" data-shift="0"
        data-_lss2--1="opacity: !1; left: !0px;"
        data-_lss2="   opacity: !0; left: !30px;"
        data-_cns1--1="opacity: !0; left: !30px;"
        data-_cns1="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-_lss2--1="opacity: !0; left: !30px;"
        data-_lss2="   opacity: !1; left: !0px;"
        data-_cns1--1="opacity: !1; left: !0px;"
        data-_cns1="   opacity: !0; left: !30px;"
      ></div>
      <!--div class="open"></div-->
      <!--div class="closed"></div-->
    </div>

    <!-- cns1 -->
    <div class="icon js-stage" data-stage="2">
      <div class="passed js-navigate" data-anchor="cns1" data-shift="0"
        data-_cns2--1="opacity: !0; left: !30px;"
        data-_cns2="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-_cns1--1="opacity: !0; left: !30px;"
        data-_cns1="   opacity: !1; left: !0px;"
        data-_cns2--1="opacity: !1; left: !0px;"
        data-_cns2="   opacity: !0; left: !30px;"
      ></div>
      <div class="open js-navigate" data-anchor="cns1" data-shift="0"
        data-_cns1--1="opacity: !1; left: !0px;"
        data-_cns1="   opacity: !0; left: !30px;"
        ></div>
      <div class="closed"
        data-_cns1--1="opacity: !1; left: !0px;"
        data-_cns1="   opacity: !0; left: !30px;"
        ></div>
    </div>

    <!-- cns2 -->
    <div class="icon js-stage" data-stage="2">
      <div class="passed js-navigate" data-anchor="cns2" data-shift="0"
        data-_r361--1="opacity: !0; left: !30px;"
        data-_r361="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-_cns2--1="opacity: !0; left: !30px;"
        data-_cns2="   opacity: !1; left: !0px;"
        data-_r361--1="opacity: !1; left: !0px;"
        data-_r361="   opacity: !0; left: !30px;"
      ></div>
      <div class="open js-navigate" data-anchor="cns2" data-shift="0"
        data-_cns2--1="opacity: !1; left: !0px;"
        data-_cns2="   opacity: !0; left: !30px;"
      ></div>
      <div class="closed"
        data-_cns2--1="opacity: !1; left: !0px;"
        data-_cns2="   opacity: !0; left: !30px;"
      ></div>
    </div>

    <!-- 361 -->
    <div class="icon js-stage" data-stage="3">
      <div class="passed js-navigate" data-anchor="r361" data-shift="0"
        data-_r362--1="opacity: !0; left: !30px;"
        data-_r362="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-_r361--1="opacity: !0; left: !30px;"
        data-_r361="   opacity: !1; left: !0px;"
        data-_r362--1="opacity: !1; left: !0px;"
        data-_r362="   opacity: !0; left: !30px;"
      ></div>
      <div class="open js-navigate" data-anchor="r361" data-shift="0"
        data-_r361--1="opacity: !1; left: !0px;"
        data-_r361="   opacity: !0; left: !30px;"
      ></div>
      <div class="closed"
        data-_r361--1="opacity: !1; left: !0px;"
        data-_r361="   opacity: !0; left: !30px;"
      ></div>
    </div>

    <!-- 362 -->
    <div class="icon js-stage" data-stage="3">
      <!--div class="passed"></div-->
      <div class="current js-navigate"
        data-_r362--1="opacity: !0; left: !30px;"
        data-_r362="   opacity: !1; left: !0px;"
      ></div>
      <div class="open js-navigate" data-anchor="r362" data-shift="0"
        data-_r362--1="opacity: !1; left: !0px;"
        data-_r362="   opacity: !0; left: !30px;"
      ></div>
      <div class="closed"
        data-_r362--1="opacity: !1; left: !0px;"
        data-_r362="   opacity: !0; left: !30px;"
      ></div>
    </div>
  </div>
</div>

  <div class="game js-game" data-type="none"
     data-_game01--2501="display: !none;"
     data-_game01--2500="display: !block;"

     data-_slide05--1="display: !block;"
     data-_slide05="display: !none;"

     data-_game02--2501="display: !none; z-index: !10;"
     data-_game02--2500="display: !block; z-index: !100;"

     data-_slide06-2000="display: !block;"
     data-_slide06-2001="display: !none;"

     data-_game03--3501="display: !none;"
     data-_game03--3500="display: !block;"

     data-_slide07-2000="display: !block;"
     data-_slide07-2001="display: !none;"

     data-_game04--3001="display: !none;"
     data-_game04--3000="display: !block;"

     data-_slide08-8000="display: !block;"
     data-_slide08-8001="display: !none;"
  >
  <div class="scene">
    <div class="overlay"
      data-_game01--3500="display: !block;"
      data-_game01--201="display: !none;"
      data-_slide05--2000="display: !block;"

      data-_game02--3500="display: !block;"
      data-_game02--201="display: !none;"
      data-_slide06--600="display: !block;"

      data-_game03--4500="display: !block;"
      data-_game03--1201="display: !none;"
      data-_slide07--600="display: !block;"

      data-_game04--3000="display: !block;"
      data-_game04-1899="display: !none;"
      data-_slide08-0="display: !block;"
    ></div>
    <div class="game-inner"
      data-_game01--2500="top: 2000px;"
      data-_game01--500="top: 55px;"

      data-_slide05--2000="top: 55px;"
      data-_slide05--0="top: -1055px;"

      data-_game02--2500="top: 2000px;"
      data-_game02--500="top: 55px;"

      data-_slide06="top: 55px;"
      data-_slide06-2000="top: -1055px;"

      data-_game03--3400="top: 2500px;"
      data-_game03--1800="top: 55px;"

      data-_slide07="top: 55px;"
      data-_slide07-2000="top: -1055px;"

      data-_game04--3000="top: 2500px;"
      data-_game04-1800="top: 55px;"

      data-_slide08="top: 55px;"
      data-_slide08-2000="top: -1055px;"
      >
      <div class="question-answers js-question-answers" data-state="0">
        <span class="question-answer answer-3 js-answer-3"><b></b><i></i></span>
        <span class="question-answer answer-2 js-answer-2"><b></b><i></i></span>
        <span class="question-answer answer-1 js-answer-1"><b></b><i></i></span>
      </div>

      <div class="bubble bubble-question js-droppable"><span></span></div>
      <div class="bubble bubble-answer bubble-position-1 js-draggable" data-value="1"><span></span></div>
      <div class="bubble bubble-answer bubble-position-2 js-draggable" data-value="2"><span></span></div>
      <div class="bubble bubble-answer bubble-position-3 js-draggable" data-value="3"><span></span></div>
      <div class="bubble bubble-answer bubble-position-4 js-draggable" data-value="4"><span></span></div>
      <div class="bubble bubble-answer bubble-position-5 js-draggable" data-value="5"><span></span></div>
      <div class="bubble bubble-answer bubble-position-6 js-draggable" data-value="6"><span></span></div>
    </div>
  </div>
</div>


  <div class="slides js-slides">
    <div class="slide-01"
  data-3600="display: !block;"
  data-5601="display: !none;"
  >
  <div class="left-waves">
    <div class="wave-1"
      data-1200="transform: scaleX(1); left: 0px; opacity: 1;"
      data-1800="transform: scaleX(1); left: -210px; opacity: 1;"
      data-3600="transform: scaleX(.5); left: -1210px; opacity: 0;"
    ></div>
    <div class="wave-2"
      data-1200="transform: scaleX(1); left: 0px; opacity: 1;"
      data-1800="transform: scaleX(1); left: -110px; opacity: 1;"
      data-3600="transform: scaleX(.5); left: -1110px; opacity: 0;"
    ></div>
    <div class="wave-3"
      data-1200="transform: scaleX(1); left: 0px; opacity: 1;"
      data-1800="transform: scaleX(1); left: -90px; opacity: 1;"
      data-3600="transform: scaleX(.5); left: -1090px; opacity: 0;"
    ></div>
    <div class="wave-4"
      data-1200="transform: scaleX(1); left: 0px; opacity: 1;"
      data-1800="transform: scaleX(.8); left: -40px; opacity: 1;"
      data-3600="transform: scaleX(.5); left: -1040px; opacity: 0;"
      ></div>
  </div>

  <div class="scene">
    <div class="logo"
      data-0="opacity: 1; left: 0px;"
      data-4800="opacity: 1; left: 0px;"
      data-5600="opacity: 0; left: -800px;"
      >

      <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Isolation_Mode" class="letters" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="187.8px" height="39.3px" viewBox="945.8 337.9 187.8 39.3" enable-background="new 945.8 337.9 187.8 39.3"
	 xml:space="preserve">
<g>
	<path fill="#ffffff" d="M952.4,365.4c-0.3,3.9-0.3,8.2,0.1,9.4v0.3H947v-0.3c0.5-1.4,1.3-5.6,1.7-9.4l1.6-19.7
		c0.1-2.3-0.2-4.5-0.8-5.3v-0.2h9.5v0.2c0,1.4,3.2,11.3,8.7,26h0.2c6.6-17.1,9.1-24,9.3-26v-0.2h9.6v0.2c-0.4,1.2-0.9,5.4-0.6,9.3
		l0.8,15.7c0.2,3.9,0.6,8.2,1,9.4v0.3h-7.6v-0.3c0.4-2.3,0.4-5.6,0.2-9.4l-0.9-19.1h-0.1c-3.5,8.8-9.2,23.8-10.8,28.8h-4.7
		c-3.4-10.4-8.9-25.8-10-28.5h-0.2L952.4,365.4z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
  ></path>
	<path fill="#ffffff" d="M997.2,375.1v-0.3c0.4-1.2,0.8-5.6,0.8-9.4v-15.6c0-3.9-0.4-8.1-0.8-9.4v-0.2h17.8l1,4.5h-0.2
		c-1.1-0.5-4.9-1.1-7.5-1.1h-4v11.7h3.9c2.2,0,5-0.1,6.6-1h0.2v5.5h-0.2c-1.6-0.9-4.4-1-6.6-1h-3.9v12.8h6.8c2.7,0,6.8-0.8,8.5-1.8
		h0.3l-1,5.3L997.2,375.1L997.2,375.1z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1037.7,367.5c6.5-18.1,8.6-25.6,8.7-27.1v-0.2h5.9v0.2c-0.7,0.9-5,10.9-11.6,29.6l-1.7,5.1h-5.5
		c-0.5-1.8-1.1-3.4-1.7-5c-6.7-18.7-10.2-28.5-11-29.7v-0.2h7.9v0.3c0,1.4,3.7,13.1,8.7,27.1H1037.7z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1065,340.1v0.2c-0.4,1.2-0.8,5.6-0.8,9.4v15.6c0,3.9,0.4,8.2,0.8,9.4v0.3h-7.6v-0.3
		c0.4-1.2,0.8-5.6,0.8-9.4v-15.6c0-3.9-0.4-8.1-0.8-9.4v-0.2H1065z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1081.5,363.7c0,5.8,2.8,8.4,7.7,8.4c5.2,0,8.2-2.7,8.2-8.4v-11.8c0-3.9-0.3-9.2-1.2-11.5v-0.2h6.1v0.2
		c-0.5,2.2-0.8,7.6-0.8,11.5v12.5c0,7.8-5.8,11.6-12.6,11.6c-9.3,0-13.5-4-13.5-11.6v-14.5c0-3.9-0.4-8.1-0.8-9.4v-0.2h7.6v0.2
		c-0.4,1.2-0.8,5.6-0.8,9.4V363.7L1081.5,363.7z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1128.7,346.2h-0.4c-1.7-2.6-4.7-3.8-7.4-3.8c-3.1,0-6.1,1.5-6.1,5.2c0,3.2,2.1,4.7,7.4,6.7
		c7.5,2.7,9.8,5.6,9.8,11c0,7.8-6.5,10.9-12.8,10.9c-3.2,0-7.8-0.7-10.7-2.3l1.5-5.4h0.4c2.2,2.9,6.1,4.4,9.1,4.4
		c4,0,7.1-1.7,7.1-5.7c0-3.2-1.9-5.1-8-7.4c-7.5-2.8-9-6.2-9-10.5c0-7,5.9-10.1,11.6-10.1c4.5,0,7.4,1.2,9.1,2.4L1128.7,346.2z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
</g>
</svg>


      <img src="img/MW_logo-kaz.png" alt="Mevius" class="image">
    </div>

    <div class="lights">
      <div class="light-top"
        data-0="opacity: .99;"
        data-1200="opacity: .99;"
        data-3600="opacity: 0;"
      ></div>
      <div class="light-bottom"
        data-0="opacity: .99;"
        data-1800="opacity: 0;"
        ></div>
    </div>

    <div class="use-scroll"
      data-0="top: 2000px; opacity: 0;"
      data-1200="top: 615px; opacity: 1;"
      data-2000="top: 615px; opacity: 1;"
      data-3000="top: 2000px; opacity: 0;"
      >Ойын экрандарында жылжу үшін, тышқанның дөңгелегін пайдаланыңыз (төмен/жоғары)!</div>

    <div class="packs">
      <div class="pack-back"
        data-0="top: 1580px; opacity: 0;"
        data-300="top: 920px; opacity: .5;"
        data-600="top: 590px; opacity: 1;"
        data-1200="top: 260px; opacity: 1;"
        data-1800="top: -70px; opacity: 1;"
        data-2400="top: -400px; opacity: .5;"
        data-3000="top: -730px; opacity: 0;"
        ></div>
      <div class="pack-front"
        data-0="top: 935px; opacity: 0;"
        data-300="top: 585px; opacity: .5;"
        data-600="top: 410px; opacity: 1;"
        data-1200="top: 235px; opacity: 1;"
        data-1800="top: 60px; opacity: 1;"
        data-2400="top: -115px; opacity: 1;"
        data-3000="top: -290px; opacity: .5;"
        data-3600="top: -465px; opacity: 0;"
        ></div>
    </div>
  </div>
</div>

    <div class="slide-02"
  data-_slide02--2="display: !none;"
  data-_slide02--1="display: !block;"
  data-_slide04="display: !block;"
  data-_slide04-1="display: !none;"
  >
  <div class="scene">
    <div class="text-mission"
         data-_slide02="right: -700px; opacity: 0;"
         data-_slide02-500="right: -200px; opacity: 1;"
         data-_slide02-700="right: 0px; opacity: 1;"
         data-_slide02-1400="right: 0px; opacity: 1;"
         data-_slide02-1600="right: 200px; opacity: 1;"
         data-_slide02-2100="right: 700px; opacity: 0;"
      >MEVIUS-тің МИССИЯСЫ неде?</div>

    <div class="text-go-through"
         data-_slide02-1500="top: 215px; right: -700px; opacity: 0;"
         data-_slide02-2000="top: 215px; right: -200px; opacity: 1;"
         data-_slide02-2200="top: 215px; right: 0px; opacity: 1;"
         data-_slide02-2900="top: 215px; right: 0px; opacity: 1;"
         data-_slide02-5300="top: -5px; right: 0px; opacity: 1;"
         data-_slide02-7700="top: -5px; right: 0px; opacity: 1;"
         data-_slide02-10300="top: -655px; right: 0px; opacity: 0;"
      >
      <div>
        Ойынды бастан аяқ – барлық  4 кезеңінен өтіңіз
      </div>

      <div class="text-read-careful js-animate-image"
        data-src="img/svg/kaz/rules_read.svg" data-src-static="img/svg/kaz/rules_read_IE.svg"
        data-start="2600" data-end="8100"
        data-_slide02-2600="opacity: 0;"
        data-_slide02-3600="opacity: 1;"
        >
        <img src="img/s.gif" alt="">
        Әр кезеңде ақпаратты зейін<br>салып оқыңыз
      </div>

      <div class="text-answer js-animate-image"
        data-src="img/svg/kaz/rules_quest.svg" data-src-static="img/svg/kaz/rules_quest_IE.svg"
        data-start="3400" data-end="8700"
        data-_slide02-3400="opacity: 0;"
        data-_slide02-4400="opacity: 1;"
        >
        <img src="img/s.gif" alt="">
        Әр кезеңнің аяғында сұрақтарға<br>дұрыс жауап беріп
      </div>

      <div class="text-unlock js-animate-image"
        data-src="img/svg/kaz/rules_unlock.svg" data-src-static="img/svg/kaz/rules_unlock_IE.svg"
        data-start="4200" data-end="9300"
        data-_slide02-4200="opacity: 0;"
        data-_slide02-5200="opacity: 1;"
        >
        <img src="img/s.gif" alt="">
        ойынның барлық<br>кезеңдерін қоршаудан<br>босатыңыз
      </div>

      <div class="text-bonus js-animate-image"
        data-src="img/svg/kaz/rules_prize.svg" data-src-static="img/svg/kaz/rules_prize_IE.svg"
        data-start="5000" data-end="10000"
        data-_slide02-5000="opacity: 0;"
        data-_slide02-6000="opacity: 1;"
        >
        <div class="text-bonus-text">БОНУС АЛЫҢЫЗ</div>
        <img src="img/s.gif" alt="">
        Mevius-тің «Миссиямыз – жеңіске жету»<br>ойынының барлық кезеңінен өткеніңіз<br>үшін
      </div>
    </div>

    <div class="tip-sidebar"
      data-_slide02-5500="right: -54px;"
      data-_slide02-7000="right: 0px;"
      data-_slide02-10000="right: 0px;"
      data-_slide02-11500="right: -54px;"
      >
      <div class="tips"
        data-_slide02-5500="right: -270px; opacity: 0;"
        data-_slide02-7000="right: 25px; opacity: 1;"
        data-_slide02-10000="right: 25px; opacity: 1;"
        data-_slide02-11000="right: 25px; opacity: .3;"
        data-_slide02-12000="right: -270px; opacity: 0;"
        >
        <div class="passed"><span
          data-_slide02-9000="opacity: 1;"
          data-_slide02-9800="opacity: 0;"
          >Өткен кезең</span></div>
        <div class="current"><span
          data-_slide02-9000="opacity: 1;"
          data-_slide02-9800="opacity: 0;"
          >Ағынды кезең</span></div>
        <div class="open"><span
          data-_slide02-9000="opacity: 1;"
          data-_slide02-9800="opacity: 0;"
          >Кезең ашық</span></div>
        <div class="closed"><span
          data-_slide02-9000="opacity: 1;"
          data-_slide02-9800="opacity: 0;"
          >Кезең жабық</span></div>
      </div>
      <div class="icons">
          <div class="passed"></div>
          <div class="current"></div>
          <div class="open"></div>
          <div class="closed"></div>
      </div>
    </div>

    <div class="text-victory-mission"
      data-_slide02-7900="top: 1000px; opacity: 0;"
      data-_slide02-8400="top: 700px; opacity: 1;"
      data-_slide02-8900="top: 500px; opacity: 1;"
      data-_slide02-9400="top: 244px; opacity: 1;"
      data-_slide03-1000="opacity: 1;"
      data-_slide03-2000="opacity: 0;"
      >Mevius-тің «жеңіске жету Миссиясы»</div>
  </div>
</div>
    <div class="slide-03"
  data-_slide03--2="display: !none;"
  data-_slide03--1="display: !block;"
  data-_game01--2001="display: !block;"
  data-_game01--2000="display: !none;"
  >
    <div class="scene">
      <div class="logo"
        data-_slide03-11800="opacity: 1;"
        data-_slide03-12300="opacity: 0;"
        >
        <div class="light-hor"
          data-_slide03="opacity: 0; transform: scaleX(0);"
          data-_slide03-1000="opacity: .6; transform: scaleX(1);"
        ></div>
        <div class="light-circle"
          data-_slide03-400="opacity: 0; transform: scale(0);"
          data-_slide03-700="opacity: .3; transform: scale(1);"
          data-_slide03-1000="opacity: .6; transform: scale(1);"
        ></div>
        <a href="javascript:void(0);"
          data-_slide03-1300="opacity: 0;"
          data-_slide03-2300="opacity: 1;"
        ></a>
        <div class="logo-text"
          data-_slide03-1000="top: 1000px; opacity: 0;"
          data-_slide03-1300="opacity: 1;"
          data-_slide03-3000="top: 271px; opacity: 1;"
          data-_slide03-4000="top: 271px; opacity: 1;"
          data-_slide03-4500="top: 185px; opacity: .3;"
          data-_slide03-4800="top: 185px; opacity: 0;"
        ></div>
        <div class="footnote"
          data-_slide03-1200="top: -25px; opacity: 0;"
          data-_slide03-2500="top: 6px; opacity: 1;"
          data-_slide03-4000="top: 6px; opacity: 1;"
          data-_slide03-4800="top: -25px; opacity: 0;"
        >* Қытайды қоспағанда, Euromonitor International 2013 деректері бойынша.</div>
      </div>
      
      <div class="info"
        data-_slide03-5300="top: 1000px; opacity: 0;"
        data-_slide03-6800="top: 436px; opacity: 1;"
        data-_slide03-8600="top: 436px; opacity: 1;"
        data-_slide03-9300="top: 436px; opacity: 0;"
        >
        <div class="info-blocks">
          <div class="info-filter"
            data-_slide03-8600="margin-top: 0px; margin-left: 0px;"
            data-_slide03-9300="margin-top: -100px; margin-left: -100px;"
            >бірегей сүзгісі көлемді әрі жағымды дәм береді</div>
          <div class="info-taste"
            data-_slide03-6800="top: 150px;"
            data-_slide03-7200="top: 0px;"
            data-_slide03-8600="margin-top: 0px;"
            data-_slide03-9300="margin-top: -100px;"
            >дәмді ұзағырақ  сақтау мүмкіндігін беретін технология</div>
          <div class="info-smell"
            data-_slide03-6800="top: 300px;"
            data-_slide03-7600="top: 0px;"
            data-_slide03-8600="margin-top: 0px; margin-left: 0px;"
            data-_slide03-9300="margin-top: -100px; margin-left: 100px;"
            >темекі иісі азырақ</div>
        </div>
        <div class="info-common"
          data-_slide03-6800="top: 400px;"
          data-_slide03-7600="top: 100px;"
          data-_slide03-8600="top: 100px;"
          data-_slide03-9300="top: 0px;"
          >Mevius – Қазақстан нарығындағы ең үздік  өңдеулер мен инновациялық технологияларды бірлестіретін
            жаңа өнім талғамы жоғары темекі шегушілер үшін ең үздік ұсыным.
        </div>
      </div>

      <div class="pack">
        <div class="text"
          data-_slide03-9300="opacity: 0;"
          data-_slide03-10300="opacity: 1;"
          data-_slide03-11800="opacity: 1; top: 341px; left: 300px;"
          data-_slide03-12300="opacity: 0; top: 390px; left: -80px;"
          >БОЛАШАҚТЫ ЖҮЗЕГЕ АСЫРУ</div>
        <div class="image"
          data-_slide03-9300="top: 1000px; opacity: 0;"
          data-_slide03-10300="top: 66px; opacity: 1;"
          data-_slide03-11800="top: 66px; opacity: 1;"
          data-_slide03-12300="top: -600px; opacity: 0;"
          ></div>
      </div>
  </div>
</div>

    <div class="slide-04"
  data-_slide04--2="display: !none;"
  data-_slide04--1="display: !block;"
  data-_slide04-5000="display: !block; background: #000;"
  data-_slide04-11000="opacity: 1; display: !block;"
  data-_slide04-11200="opacity: 0; display: !none;"
  >
  <div class="scene">

    <div class="lss-mask">
      <div class="scene">
        <div class="dotted-bg">
          <div class="about-block"
            data-_slide04-5000="margin-left: 0px; opacity: 1;"
            data-_slide04-6500="margin-left: 1000px; opacity: 0;"
            >
            <div class="about"
              data-_slide04="opacity: .5; left: 1212px;"
              data-_slide04-2500="opacity: 1; left: 706px;"
              ></div>

            <div class="cigarette-paper"
              data-_slide04-3000="opacity: 0;"
              data-_slide04-3500="opacity: 1;"
              ><span
                data-_slide04-3200="opacity: 0; padding-left: 300px;"
                data-_slide04-3700="opacity: 1; padding-left: 0px;"
                >Екіқабат темекi қағазы</span></div>
          </div>
          <div class="cigarette"
            data-_slide04="left: 80px; top: 270px;"
            data-_slide04-500="left: 100px; top: 235px;"
            data-_slide04-1000="left: 140px; top: 165px;"
            data-_slide04-2500="left: 180px; top: 25px;"
            data-_slide04-5800="left: 180px;"
            data-_slide04-6800="left: 585px;"
            ></div>

          <div class="list"
            data-_slide04-6500="opacity: 0;"
            data-_slide04-7000="opacity: 1;"
            >
            Темекі түтінінің иісі азырақ:
            <div class="icon-hair"
              data-_slide04-7300="opacity: 0; left: -509px;"
              data-_slide04-7800="opacity: 1; left: -9px;"
            >шашта</div>
            <div class="icon-arm"
              data-_slide04-7700="opacity: 0; left: -509px;"
              data-_slide04-8200="opacity: 1; left: -9px;"
            >қолда</div>
            <div class="icon-car"
              data-_slide04-8100="opacity: 0; left: -509px;"
              data-_slide04-8600="opacity: 1; left: -9px;"
            >машинада</div>
            <div class="icon-around"
              data-_slide04-8500="opacity: 0; left: -509px;"
              data-_slide04-9000="opacity: 1; left: -9px;"
            >айналада</div>
            </div>
        </div>
      </div>

      <svg id="Layer_lss" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="1280px" height="980px" viewBox="0 0 1280 980"
        xml:space="preserve" preserveAspectRatio="xMidYMin"
        >
        <defs>
          <mask id="LSSmask">
            <rect x="0" y="0" fill="#FFFFFF" width="1280" height="980"/>
            <circle id="lssHole" cx="215" cy="280" r="850" transform="skewX(25), scale(1.5, 1.1)"
              data-_slide04="@r: 0;"
              data-_slide04-500="@r: 60;"
              data-_slide04-1000="@r: 140;"
              data-_slide04-2500="@r: 700; @cx: 215;"
              data-_slide04-6500="@r: 700; @cx: 215;"
              data-_slide04-7500="@r: 950; @cx: 215;"
            ></circle>
            <path fill="#ffffff" d="M0,815c0,0,1045,94.3,1280-815v2014H0V815z"
              transform="translate(0 1000)"
              data-_slide04-8500="@transform: translate(0 1000)"
              data-_slide04-13500="@transform: translate(0 -3000)"
              />
          </mask>
        </defs>
        <image style="mask: url(#LSSmask);" id="lssMaskImg" width="100%" height="100%" y="0px" x="0px"
          preserveAspectRatio="xMidYMin" xlink:href="img/bg/BG_01.jpg" />
        <image width="1286px" height="1141px" y="0px" x="0px" _transform="translate(0 200)"
          id="closingWave" xlink:href="img/mev_wave_transition_01.png"
          data-_slide04-8300="@y: 1000px"
          data-_slide04-13300="@y: -3000px"
          />
      </svg>
    </div>
  </div>
</div>

    <div class="slide-05"
  data-_slide05--1="display: !none;"
  data-_slide05="display: !block;"
  data-_slide05-6000="top: 0%;"
  data-_slide05-7000="top: -100%;"
  >
  <div class="scene">
    <div class="bg-5"
      data-_slide05="opacity: 0;"
      data-_slide05-500="opacity: 1;"
      >
      <div class="bg-5-bottom js-slide5-bg1"
        data-_slide05-300="opacity: -1; margin-top: -100%;"
        data-_slide05-1300="opacity: .3; margin-top: -10%;"
        data-_slide05-2300="opacity: .3; margin-top: -10%;"
        data-_slide05-3100="opacity: .7; margin-top: 0%;"
        data-_slide05-5000="left: 0px;"
        data-_slide05-6000="left: 730px;"
        >
        <div class="bg-5-top js-slide5-bg2"
          data-_slide05-5000="left: 0px;"
          data-_slide05-6000="left: -430px;"
        ></div>
      </div>
    </div>

    <div class="info"
      data-_slide05-300="opacity: 0; margin-top: 100%;"
      data-_slide05-1300="opacity: 1; margin-top: 10%;"
      data-_slide05-2300="opacity: 1; margin-top: 10%;"
      data-_slide05-3100="opacity: 1; margin-top: 0%;"
      data-_slide05-5000="left: 0px;"
      data-_slide05-6000="left: -508px;"
    >
      <div class="logo"
        data-_slide05-3500="opacity: 0;"
        data-_slide05-4000="opacity: 1;"
        data-_slide05-5000="opacity: 1;"
        data-_slide05-6000="opacity: 0;"
      ></div>
      <div class="text"
        data-_slide05-1300="opacity: 0;"
        data-_slide05-2000="opacity: 1;"
        data-_slide05-5000="opacity: 1;"
        data-_slide05-6000="opacity: 0;"
        >Дәмді ұзағырақ сақтау<br>
        <span>мүмкіндігін беретін арнайы <br>бекіткіші бар каптама</span>
      </div>
      
      <div class="pack-glow">
        <div
          data-_slide05-1300="opacity: 0;"
          data-_slide05-2000="opacity: 1;"
        >
          <div class="pack"></div>
          <div class="action js-slide5-action"
            data-_slide05-5000="left: 291px; top: 39px;"
            data-_slide05-6000="left: 246px; top: 31px;"
          ></div>
        </div>
      </div>
    </div>

    <div class="info2"
      data-_slide05-6000="opacity: 0;"
      data-_slide05-6500="opacity: 1;"
      >
      Патенттелген<br>инновациялық қаптама
      <span>Жабу және  бекітіп қоюға  ыңғайлы<br>Темекінің алғашқы сапасын сақтайды</span>
    </div>
  </div>
</div>

<div class="game2-bg js-game2-bg"
  data-_slide05-6999="display: !none; top: 1500px; bottom: -1500px;"
  data-_slide05-7000="display: !block; top: 1500px; bottom: -1500px;"
  data-_slide05-8500="display: !block; top: 0px; bottom: 0px;"
>
  <div class="dots"
    data-_slide05-8500="top: 100px;"
    data-_slide05-8800="top: 0px;"
    ></div>

  <div class="scene"
    data-_game03--2000="top: -0px;"
    data-_game03--500="top: -2555px;"
    >
    <div class="light"></div>
  </div>

  <div class="wave js-game2-wave"
    data-_slide05-8500="margin-top: 0px;"
    data-_slide05-9500="margin-top: -1000px;"
  ></div>
</div>

    <div class="slide-06 js-game3-bg"
  data-_slide06--1="display: !none; z-index: !0; opacity: 0; "
  data-_slide06="display: !block; z-index: !70; opacity: 0;"
  data-_slide06-1000="opacity: 1;"

  data-_game03--4500="top: 0px; background-position: 50% 0px;"
  data-_game03--1000="top: -4555px; background-position: 50% 4500px;"
  >
  <div class="wave js-game3-wave"
    data-_game03--6200="bottom: -2000px;"
    data-_game03--2300="bottom: 0px;"
  ></div>

  <div class="scene"
    data-_game03--2151="overflow: !visible;"
    data-_game03--2150="overflow: !hidden; height: 680px; border-radius: 0 0 200px 0;"
    data-_game03--1650="overflow: !hidden; height: 0px; border-radius: 0 0 600px 0;"
    >
    <div class="light js-light-bg-parallax"
      data-_game03--2000="top: 400px;"
      data-_game03--500="top: 2300px;"
    ></div>
    <div class="cigarette"
      data-_slide06-50="margin-left: -840px; margin-top: 1395px; opacity: 0;"
      data-_slide06-1000="margin-left: -560px; margin-top: 930px; opacity: 1;"
      data-_slide06-2000="margin-left: 0px; margin-top: 0px;"
      data-_slide06-5000="margin-left: 0px; margin-top: 0px;"
      data-_slide06-6000="margin-left: -370px; margin-top: -125px;"
      ><div
        data-_slide06-2300="opacity: 0;"
        data-_slide06-3300="opacity: 1;"
      ></div></div>
    <div class="info"
      data-_slide06-2000="margin-left: -1000px; opacity: -2;"
      data-_slide06-3500="margin-left: 0px; opacity: 1;"
      data-_slide06-5000="margin-left: 0px; opacity: 1;"
      data-_slide06-6500="margin-left: -740px; opacity: -2;"
      >
      <div class="ico"
        data-_slide06-3500="opacity: 0;"
        data-_slide06-4000="opacity: 1;"
      ></div>
      Бірегей<br>инновациялық сүзгі
      <span>көлемді&nbsp;әрі<br>жағымды дәм береді</span>
    </div>
    <div class="info2"
      data-_slide06-5300="margin-left: 740px; opacity: 0;"
      data-_slide06-6500="margin-left: 0px; opacity: 1;"
    >
      <div class="ico"></div>
      Патенттелген JTI технологиясы
      <span>Сүзгі ұшындағы<br>айналма тесу</span>
      <div>Баурап алатын дәм толқыны<br>және 360<sup>о</sup>-қа&nbsp;сезім толықтығы</div>
    </div>
  </div>
</div>

<div class="game3-bg"
     data-_game03--3001="display: !none;"
     data-_game03--3000="display: !block;"
  >
  <div class="scene">
    <div class="light"></div>
  </div>
</div>

    <div class="slide-07 js-game4-bg"
  data-_slide07--1="display: !none; z-index: !0; opacity: 0; "
  data-_slide07="display: !block; z-index: !70; opacity: 0;"
  data-_slide07-1000="opacity: 1;"

  data-_game04--4500="top: 0px; background-position: 50% 0px;"
  data-_game04--1000="top: -4555px; background-position: 50% 4500px;"
  >
  <div class="wave js-game4-wave"
    data-_game04--6200="bottom: -2000px;"
    data-_game04--2300="bottom: 0px;"
    ></div>

  <div class="scene"
    data-_game04--2151="overflow: !visible;"
    data-_game04--2150="overflow: !hidden; height: 680px; border-radius: 0 0 200px 0;"
    data-_game04--1650="overflow: !hidden; height: 0px; border-radius: 0 0 600px 0;"
    >
    <div class="image"
      data-_slide07-3600="opacity: 0;"
      data-_slide07-4600="opacity: 1;"
      ></div>
    <div class="text1"
      data-_slide07-1500="opacity: 0; margin-left: 1000px;"
      data-_slide07-2500="opacity: 1; margin-left: 0px;"
    >Құттықтаймыз!<br>Сіз көздеген&nbsp;нысанаңызға<br>жақындап қалдыңыз!</div>
    <div class="text2"
      data-_slide07-2300="opacity: 0; margin-left: 1000px;"
      data-_slide07-3800="opacity: 1; margin-left: 0px;"
    >
      Енді сіз&nbsp;MEVIUS темекісінің<br>
      <span>3 негізгі басымдылығын <br>білесіз</span>
    </div>
  </div>
</div>

<div class="game4-bg"
  data-_game04--3001="display: !none;"
  data-_game04--3000="display: !block;"
  >
  <div class="bg"
    data-_game04-0="margin-right: -800px;"
    data-_game04-1600="margin-right: -1400px;"
  ></div>
</div>

<div class="slide-07-continue"
  data-_game04--3001="display: !none;"
  data-_game04--3000="display: !block;"

  data-_game04-3000="display: !block;"
  data-_game04-3001="display: !none;"
  >
  <div class="scene">
    <div class="pack-left"
         data-_game04--3000="margin-top: 1500px; opacity: 0;"
         data-_game04--2500="margin-top: 1000px; opacity: 1;"
         data-_game04--1500="margin-top: 0px; opacity: 1;"
         data-_game04-500="margin-top: 0px;"
         data-_game04-2500="margin-top: -1500px;"
      ></div>
    <div class="pack-top"
      data-_game04--3000="margin-top: 1500px; opacity: 0;"
      data-_game04--2400="margin-top: 1000px; opacity: 1;"
      data-_game04--1300="margin-top: 0px; opacity: 1;"
      data-_game04-500="margin-top: 0px;"
      data-_game04-3000="margin-top: -1000px;"
      ></div>
    <div class="pack-bottom"
      data-_game04--2800="margin-top: 1500px; opacity: 0;"
      data-_game04--2300="margin-top: 1000px; opacity: 1;"
      data-_game04--1300="margin-top: -150px; opacity: 1;"
      data-_game04-500="margin-top: -150px;"
      data-_game04-1500="margin-top: -1000px;"
      ></div>
    <div class="text"
      data-_game04--2300="margin-top: 666px; opacity: 0;"
      data-_game04--1800="margin-top: 444px; opacity: 1;"
      data-_game04--1300="margin-top: 0px; opacity: 1;"
      data-_game04-0="margin-top: 0px; opacity: 1;"
      data-_game04-3000="margin-top: -500px; opacity: 0;"
      >Назар аударыңыз!
        <span
          data-_game04--2300="padding-top: 253px;"
          data-_game04--1300="padding-top: 53px;"
          data-_game04-0="padding-top: 53px; margin-top: 0px;"
          data-_game04-3000="margin-top: -170px;"
          >ҚАЙ темекілердің ОРНЫНА<br>СІЗ САТЫП АЛУШЫЛАРЫҢЫЗҒА<br>MEVIUS –ті ұсынасыз?</span>
    </div>
  </div>
</div>

    <div class="slide-08"
  data-_slide08--1="display: !none; z-index: !0; opacity: 0; "
  data-_slide08="display: !block; z-index: !70; opacity: 0;"
  data-_slide08-1000="opacity: 1;"
  >
  <div class="left-waves">
    <div class="wave-1"
      data-_slide08-6200="transform: scaleX(.5); left: -1210px; opacity: 0;"
      data-_slide08-8400="transform: scaleX(1); left: -210px; opacity: 1;"
      data-_slide08-9500="transform: scaleX(1); left: 0px; opacity: 1;"
      ></div>
    <div class="wave-2"
      data-_slide08-6200="transform: scaleX(.5); left: -1110px; opacity: 0;"
      data-_slide08-8400="transform: scaleX(1); left: -110px; opacity: 1;"
      data-_slide08-9500="transform: scaleX(1); left: 0px; opacity: 1;"
      ></div>
    <div class="wave-3"
      data-_slide08-6200="transform: scaleX(.5); left: -1090px; opacity: 0;"
      data-_slide08-8400="transform: scaleX(1); left: -90px; opacity: 1;"
      data-_slide08-9500="transform: scaleX(1); left: 0px; opacity: 1;"
      ></div>
    <div class="wave-4"
      data-_slide08-6200="transform: scaleX(.5); left: -1040px; opacity: 0;"
      data-_slide08-8400="transform: scaleX(.8); left: -40px; opacity: 1;"
      data-_slide08-9500="transform: scaleX(1); left: 0px; opacity: 1;"
      ></div>
  </div>

  <div class="scene">
    <div class="lights">
      <div class="light-top"></div>
      <div class="light-bottom"
        data-_slide08-7900="margin-top: 0px; margin-left: 0px;"
        data-_slide08-9500="margin-top: 30px; margin-left: 70px;"
        ></div>
    </div>

    <div class="scene-1">
      <div class="logo"
        data-_slide08-2000="opacity: 0;"
        data-_slide08-3000="opacity: 1;"

        data-_slide08-5200="margin-top: 0px;"
        data-_slide08-6700="margin-top: -750px;"
        >

        <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Isolation_Mode" class="letters" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="187.8px" height="39.3px" viewBox="945.8 337.9 187.8 39.3" enable-background="new 945.8 337.9 187.8 39.3"
	 xml:space="preserve">
<g>
	<path fill="#ffffff" d="M952.4,365.4c-0.3,3.9-0.3,8.2,0.1,9.4v0.3H947v-0.3c0.5-1.4,1.3-5.6,1.7-9.4l1.6-19.7
		c0.1-2.3-0.2-4.5-0.8-5.3v-0.2h9.5v0.2c0,1.4,3.2,11.3,8.7,26h0.2c6.6-17.1,9.1-24,9.3-26v-0.2h9.6v0.2c-0.4,1.2-0.9,5.4-0.6,9.3
		l0.8,15.7c0.2,3.9,0.6,8.2,1,9.4v0.3h-7.6v-0.3c0.4-2.3,0.4-5.6,0.2-9.4l-0.9-19.1h-0.1c-3.5,8.8-9.2,23.8-10.8,28.8h-4.7
		c-3.4-10.4-8.9-25.8-10-28.5h-0.2L952.4,365.4z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
  ></path>
	<path fill="#ffffff" d="M997.2,375.1v-0.3c0.4-1.2,0.8-5.6,0.8-9.4v-15.6c0-3.9-0.4-8.1-0.8-9.4v-0.2h17.8l1,4.5h-0.2
		c-1.1-0.5-4.9-1.1-7.5-1.1h-4v11.7h3.9c2.2,0,5-0.1,6.6-1h0.2v5.5h-0.2c-1.6-0.9-4.4-1-6.6-1h-3.9v12.8h6.8c2.7,0,6.8-0.8,8.5-1.8
		h0.3l-1,5.3L997.2,375.1L997.2,375.1z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1037.7,367.5c6.5-18.1,8.6-25.6,8.7-27.1v-0.2h5.9v0.2c-0.7,0.9-5,10.9-11.6,29.6l-1.7,5.1h-5.5
		c-0.5-1.8-1.1-3.4-1.7-5c-6.7-18.7-10.2-28.5-11-29.7v-0.2h7.9v0.3c0,1.4,3.7,13.1,8.7,27.1H1037.7z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1065,340.1v0.2c-0.4,1.2-0.8,5.6-0.8,9.4v15.6c0,3.9,0.4,8.2,0.8,9.4v0.3h-7.6v-0.3
		c0.4-1.2,0.8-5.6,0.8-9.4v-15.6c0-3.9-0.4-8.1-0.8-9.4v-0.2H1065z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1081.5,363.7c0,5.8,2.8,8.4,7.7,8.4c5.2,0,8.2-2.7,8.2-8.4v-11.8c0-3.9-0.3-9.2-1.2-11.5v-0.2h6.1v0.2
		c-0.5,2.2-0.8,7.6-0.8,11.5v12.5c0,7.8-5.8,11.6-12.6,11.6c-9.3,0-13.5-4-13.5-11.6v-14.5c0-3.9-0.4-8.1-0.8-9.4v-0.2h7.6v0.2
		c-0.4,1.2-0.8,5.6-0.8,9.4V363.7L1081.5,363.7z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
	<path fill="#ffffff" d="M1128.7,346.2h-0.4c-1.7-2.6-4.7-3.8-7.4-3.8c-3.1,0-6.1,1.5-6.1,5.2c0,3.2,2.1,4.7,7.4,6.7
		c7.5,2.7,9.8,5.6,9.8,11c0,7.8-6.5,10.9-12.8,10.9c-3.2,0-7.8-0.7-10.7-2.3l1.5-5.4h0.4c2.2,2.9,6.1,4.4,9.1,4.4
		c4,0,7.1-1.7,7.1-5.7c0-3.2-1.9-5.1-8-7.4c-7.5-2.8-9-6.2-9-10.5c0-7,5.9-10.1,11.6-10.1c4.5,0,7.4,1.2,9.1,2.4L1128.7,346.2z"
    data-0="fill: rgb(53, 99, 158);"
    data-1800="fill: rgb(53, 99, 158);"
    data-3600="fill: rgb(255, 255, 255);"
    data-_slide08--5001="fill: rgb(255, 255, 255);"
    data-_slide08--5000="fill: rgb(53, 99, 158);"
		></path>
</g>
</svg>

        <img src="img/MW_logo-kaz.png" alt="Mevius" class="image">
      </div>

      <div class="text-congratulation"
        data-_slide08-1000="opacity: 0; margin-top: 1500px;"
        data-_slide08-4000="opacity: 1; margin-top: 0px;"

        data-_slide08-5200="opacity: 1; margin-top: 0px;"
        data-_slide08-6700="opacity: 0; margin-top: -750px;"
      >
        ҚҰТТЫҚТАЙМЫЗ!
        <span>MEVIUS-ті&nbsp;Қазақстанда сатып алу&nbsp;миссиясы<br>&nbsp;жемісті аяқталды!</span>
      </div>

      <div class="text-prize"
        data-_slide08-2500="opacity: 0; margin-top: 1500px;"
        data-_slide08-5500="opacity: 1; margin-top: 0px;"

        data-_slide08-6700="opacity: 1; margin-top: 0px;"
        data-_slide08-8200="opacity: 0; margin-top: -750px;"
      >
        Mevius-тің «Миссиямыз – жеңіске жету»&nbsp;ойынының<br>барлық кезеңінен өткеніңіз үшін<br>VISA  картасына&nbsp;
        <span>1000 теңге алыңыз</span>
      </div>
    </div>

    <div class="scene-2">
      <div class="pack"
        data-_slide08-7900="opacity: 0; margin-left: -1000px;"
        data-_slide08-9500="opacity: 1; margin-left: 0px;"
        data-_slide08-13000="background-position: !0% 0; left: 282px;"
        data-_slide08-13001="background-position: !0% 0; left: 282px;"
        data-_slide08-13401="background-position: !50% 0; left: 497px;"
        data-_slide08-13599="background-position: !100% 0; left: 604px;"
        data-_slide08-14000="background-position: !100% 0; left: 819px;"
        data-_slide08-14500="background-position: !100% 0;"
      ></div>
      <div class="mevius-logo"
        data-_slide08-7900="opacity: 0; left: -1437px;"
        data-_slide08-9500="opacity: 1; left: 637px;"

        data-_slide08-13000="left: 637px; top: 70px;"
        data-_slide08-14000="left: 617px; top: 50px;"
        ></div>
      <div class="texts"
        data-_slide08-12500="opacity: 1;"
        data-_slide08-13500="opacity: 0;"
      >
        <div class="text-you-know"
          data-_slide08-7900="opacity: 0; left: 2640px;"
          data-_slide08-9500="opacity: 1; left: 640px;"
          >
          Енді Сіз MEVIUS-ті өзіҢіздің<br>сатып алушыларыңызға ұсына<br>аласыз, өйткені,
        </div>
        <div class="text-because"
          data-_slide08-8200="opacity: 0; left: 2640px;"
          data-_slide08-9800="opacity: 1; left: 640px;"
          >
          MEVIUS – әлемдегі көмір<br>сүзгісі бар темекілер<br>арасындағы №1<sup>*</sup>,<br>енді Қазақстанда!
        </div>
        <div class="logo-360"
          data-_slide08-10500="opacity: 0;"
          data-_slide08-10900="opacity: 1;"
        ></div>
        <div class="logo-lss"
          data-_slide08-10800="opacity: 0;"
          data-_slide08-11200="opacity: 1;"
        ></div>
        <div class="logo-cs"
          data-_slide08-11100="opacity: 0;"
          data-_slide08-11500="opacity: 1;"
        ></div>
      </div>
    </div>
  </div>

  <div class="scene frontscene">
    <div class="text-last"
      data-_slide08-13000="margin-left: -2000px; opacity: 0;"
      data-_slide08-14000="margin-left: 0px; opacity: 1;"
      >
      <span><a href="http://jticlub.com" target="_blank">САЙТ</a></span> ПЕН
      <span><a href="http://jticlub.com" target="_blank">ФОРУМДАҒЫ</a></span><br>ЖАҢАЛЫҚТАРДЫ<br>ҚАДАҒАЛАҢЫЗДАР,сонда<br>
        сіз де ең үздіктер<br>арасындағы ойын<br>жеңімпазы бола аласыз!
    </div>
    <div class="footnote"
         data-_slide08-7900="opacity: 0; margin-left: -2640px;"
         data-_slide08-9500="opacity: 1; margin-left: 640px;"

         data-_slide08-12500="opacity: 1;"
         data-_slide08-13500="opacity: 0;"
      >*Қытайды қоспағанда, Euromonitor International 2013 деректері бойынша</div>
  </div>
</div>

  </div>

  <div class="popups">
    <div id="popup-welcome" data-order="1" data-show-once="1"
  data-anchor="slide03" data-shift="12800"
  data-_slide03-12800="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide03-12850="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide04="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="top-text">МЕВИУС ӘЛЕМІНЕ хош келдіңіз!</div>
        <ul style="list-style-type: none;">
          <li>Ойын экрандарында жылжу үшін, тышқанның дөңгелегін пайдаланыңыз (төмен/жоғары)!</li>
          <li>экрандағы ақпаратты зейін салып оқыңыз. </li>
          <li>Сұрақтарға жауап беру үшін, курсорды пайдаланыңыз (басыңыз –ұстап  тұрыңыз - жылжытыңыз)</li>
          <li>Келесі кезеңнен өту үшін, барлық сұрақтарға дұрыс жауап беру керек!</li>
        </ul>
        <div class="bottom-text">Болашақты бүгін жүзеге асыр!</div>
        <a href="javascript:void(0);" class="button button-right js-popup-button"
          data-anchor="lss1" data-shift="0" data-duration="2000">Бастаңыз</a>
      </div>
    </div>
  </div>
</div>

    <div id="popup-1-question" class="scene question js-question"
  data-_game01--10="display: !none; z-index: !-1;"
  data-_game01-0="display: !block; z-index: !500;"
  data-_game01-10="display: !none; z-index: !-1;"
  ><div data-anchor="game01" data-shift="-50"></div></div>
<div id="popup-1-task" data-order="2"
  data-anchor="game01" data-shift="-100"
  data-_game01--100="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_game01--60="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_game01--40="top: 0%; opacity: 1; transform: scale(1, 1); margin: 0px 0px 0px 0px; z-index: 1025; @class: !popup active;"
  data-_game01-0="top: 0%; opacity: 1; transform: scale(.041, .074); margin: -602px 0px 0px -552px; z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="header text-shadow">1 КЕЗЕҢ</div>
        <div class="question text-shadow">LSS технологиясына жататын (немесе әрекет нәтижесі болып табылатын)
          дұрыс жауаптарды таңдап</div>
        <div class="footer text-shadow">Әншейін, өзіңіз таңдап алған шеңберлерді &nbsp;орталық шеңберге тасыңыз!</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="game01" data-shift="0">Бастаңыз</a>
      </div>
    </div>
  </div>
</div>

    <div id="popup-1-complete" data-order="3" data-show-once="1"
  data-anchor="slide05" data-shift="-2300"
  data-_slide05--2300="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide05--2275="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide05--2250="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide05--2200="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div class="level-finished">
        <div class="header text-shadow">1 КЕЗЕҢ АЯҚТАЛДЫ!</div>
        <div class="main-text text-shadow">Құттықтаймыз, сіз келесі кезеңге өттіңіз!</div>
        <div class="footer text-shadow">«ЖАЛҒАСТЫРУ» түймесін басыңыз және төмен<br>
          /жоғары бұрамасын қолданыңыз</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="cns1" data-shift="0" data-duration="2000">«ЖАЛҒАСТЫРУ»</a>
      </div>
    </div>
  </div>
</div>

    <div id="popup-2-question" class="scene question js-question"
  data-_game02--10="display: !none; z-index: !-1;"
  data-_game02-0="display: !block; z-index: !500;"
  data-_game02-10="display: !none; z-index: !-1;"
  ><div data-anchor="game02" data-shift="-50"></div></div>
<div id="popup-2-task" data-order="4"
  data-anchor="game02" data-shift="-100"
  data-_game02--100="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_game02--60="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_game02--40="top: 0%; opacity: 1; transform: scale(1, 1); margin: 0px 0px 0px 0px; z-index: 1025; @class: !popup active;"
  data-_game02-0="top: 0%; opacity: 1; transform: scale(.041, .074); margin: -602px 0px 0px -552px; z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="header text-shadow">2 КЕЗЕҢ</div>
        <div class="question text-shadow">Mevius қаптамасындағы Close & Seal технологиясының бірегейлігі неде?</div>
        <div class="footer text-shadow">Әншейін, өзіңіз таңдап алған шеңберлерді орталық шеңберге тасыңыз!</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="game02" data-shift="0">Бастаңыз!</a>
      </div>
    </div>
  </div>
</div>

    <div id="popup-2-complete" data-order="5" data-show-once="1"
  data-anchor="slide06" data-shift="-300"
  data-_slide06--300="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide06--260="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide06--240="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide06--200="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div class="level-finished">
        <div class="header text-shadow">2 КЕЗЕҢ АЯҚТАЛДЫ!</div>
        <div class="main-text text-shadow">Құттықтаймыз, сіз келесі кезеңге өттіңіз!</div>
        <div class="footer text-shadow">«ЖАЛҒАСТЫРУ» түймесін басыңыз және төмен/жоғары бұрамасын қолданыңыз</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="r361" data-shift="0" data-duration="2000">ЖАЛҒАСТЫРУ</a>
      </div>
    </div>
  </div>
</div>

    <div id="popup-3-question" class="scene question js-question"
  data-_game03--1010="display: !none; z-index: !-1;"
  data-_game03--1000="display: !block; z-index: !500;"
  data-_game03--990="display: !none; z-index: !-1;"
  ><div data-anchor="game03" data-shift="-1050"></div></div>
<div id="popup-3-task" data-order="6"
  data-anchor="game03" data-shift="-1100"
  data-_game03--1100="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_game03--1060="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_game03--1040="top: 0%; opacity: 1; transform: scale(1, 1); margin: 0px 0px 0px 0px; z-index: 1025; @class: !popup active;"
  data-_game03--1000="top: 0%; opacity: 1; transform: scale(.041, .074); margin: -602px 0px 0px -552px; z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="header text-shadow">3 КЕЗЕҢ</div>
        <div class="question text-shadow">Mevius темекілеріндегі 360 сүзгінің бірегейлігі мен басымдылығы неде?</div>
        <div class="footer text-shadow">Әншейін, өзіңіз таңдап алған шеңберлерді орталық шеңберге тасыңыз!</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="game03" data-shift="-999">Бастаңыз</a>
      </div>
    </div>
  </div>
</div>

    <div id="popup-3-complete" data-order="7" data-show-once="1"
  data-anchor="slide07" data-shift="-300"
  data-_slide07--300="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide07--260="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide07--240="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide07--200="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div class="level-finished">
        <div class="header text-shadow">3 КЕЗЕҢ АЯҚТАЛДЫ!</div>
        <div class="main-text text-shadow">Құттықтаймыз, сіз келесі кезеңге өттіңіз!</div>
        <div class="footer text-shadow">«ЖАЛҒАСТЫРУ» түймесін басыңыз және төмен/жоғары бұрамасын қолданыңыз</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="slide07" data-shift="4501" data-duration="2000">ЖАЛҒАСТЫРУ</a>
      </div>
    </div>
  </div>
</div>

  </div>

	<!-- base -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/external/vendor/jquery-1.10.2.min.js"><\/script>')</script>
	<script src="js/external/vendor/jquery-ui.1.11.3.min.js"></script>

	<script src="js/external/plugins/touch-punch/jquery.ui.touch-punch.min.js"></script>
	<script src="js/external/plugins/jquery.lettering.js"></script>
	<script src="js/external/plugins/eliptext.js"></script>
  <script src="js/external/plugins/skrollr/skrollr.min.js"></script>

	<script src="js/helpers.js"></script>
	<script src="js/scroll-helper.js"></script>
	<script src="js/different.js"></script>
	<script src="js/app.js"></script>
	<script src="js/game.js"></script>
</body>
</html>