<div id="popup-3-question" class="scene question js-question"
  data-_game03--1010="display: !none; z-index: !-1;"
  data-_game03--1000="display: !block; z-index: !500;"
  data-_game03--990="display: !none; z-index: !-1;"
  ><div data-anchor="game03" data-shift="-1050"></div></div>
<div id="popup-3-task" data-order="6"
  data-anchor="game03" data-shift="-1100"
  data-_game03--1100="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_game03--1060="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_game03--1040="top: 0%; opacity: 1; transform: scale(1, 1); margin: 0px 0px 0px 0px; z-index: 1025; @class: !popup active;"
  data-_game03--1000="top: 0%; opacity: 1; transform: scale(.041, .074); margin: -602px 0px 0px -552px; z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="header text-shadow">3 КЕЗЕҢ</div>
        <div class="question text-shadow">Mevius темекілеріндегі 360 сүзгінің бірегейлігі мен басымдылығы неде?</div>
        <div class="footer text-shadow">Әншейін, өзіңіз таңдап алған шеңберлерді орталық шеңберге тасыңыз!</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="game03" data-shift="-999">Бастаңыз</a>
      </div>
    </div>
  </div>
</div>
