<div id="popup-1-complete" data-order="3" data-show-once="1"
  data-anchor="slide05" data-shift="-2300"
  data-_slide05--2300="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide05--2275="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide05--2250="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide05--2200="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div class="level-finished">
        <div class="header text-shadow">1 КЕЗЕҢ АЯҚТАЛДЫ!</div>
        <div class="main-text text-shadow">Құттықтаймыз, сіз келесі кезеңге өттіңіз!</div>
        <div class="footer text-shadow">«ЖАЛҒАСТЫРУ» түймесін басыңыз және төмен<br>
          /жоғары бұрамасын қолданыңыз</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="cns1" data-shift="0" data-duration="2000">«ЖАЛҒАСТЫРУ»</a>
      </div>
    </div>
  </div>
</div>
