<div id="popup-2-complete" data-order="5" data-show-once="1"
  data-anchor="slide06" data-shift="-300"
  data-_slide06--300="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide06--260="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide06--240="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide06--200="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div class="level-finished">
        <div class="header text-shadow">2 КЕЗЕҢ АЯҚТАЛДЫ!</div>
        <div class="main-text text-shadow">Құттықтаймыз, сіз келесі кезеңге өттіңіз!</div>
        <div class="footer text-shadow">«ЖАЛҒАСТЫРУ» түймесін басыңыз және төмен/жоғары бұрамасын қолданыңыз</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="r361" data-shift="0" data-duration="2000">ЖАЛҒАСТЫРУ</a>
      </div>
    </div>
  </div>
</div>
