<div id="popup-welcome" data-order="1" data-show-once="1"
  data-anchor="slide03" data-shift="12800"
  data-_slide03-12800="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide03-12850="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide04="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="top-text">МЕВИУС ӘЛЕМІНЕ хош келдіңіз!</div>
        <ul style="list-style-type: none;">
          <li>Ойын экрандарында жылжу үшін, тышқанның дөңгелегін пайдаланыңыз (төмен/жоғары)!</li>
          <li>экрандағы ақпаратты зейін салып оқыңыз. </li>
          <li>Сұрақтарға жауап беру үшін, курсорды пайдаланыңыз (басыңыз –ұстап  тұрыңыз - жылжытыңыз)</li>
          <li>Келесі кезеңнен өту үшін, барлық сұрақтарға дұрыс жауап беру керек!</li>
        </ul>
        <div class="bottom-text">Болашақты бүгін жүзеге асыр!</div>
        <a href="javascript:void(0);" class="button button-right js-popup-button"
          data-anchor="lss1" data-shift="0" data-duration="2000">Бастаңыз</a>
      </div>
    </div>
  </div>
</div>
