<div id="popup-1-question" class="scene question js-question"
  data-_game01--10="display: !none; z-index: !-1;"
  data-_game01-0="display: !block; z-index: !500;"
  data-_game01-10="display: !none; z-index: !-1;"
  ><div data-anchor="game01" data-shift="-50"></div></div>
<div id="popup-1-task" data-order="2"
  data-anchor="game01" data-shift="-100"
  data-_game01--100="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_game01--60="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_game01--40="top: 0%; opacity: 1; transform: scale(1, 1); margin: 0px 0px 0px 0px; z-index: 1025; @class: !popup active;"
  data-_game01-0="top: 0%; opacity: 1; transform: scale(.041, .074); margin: -602px 0px 0px -552px; z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="header text-shadow">1 КЕЗЕҢ</div>
        <div class="question text-shadow">LSS технологиясына жататын (немесе әрекет нәтижесі болып табылатын)
          дұрыс жауаптарды таңдап</div>
        <div class="footer text-shadow">Әншейін, өзіңіз таңдап алған шеңберлерді &nbsp;орталық шеңберге тасыңыз!</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="game01" data-shift="0">Бастаңыз</a>
      </div>
    </div>
  </div>
</div>
