<div id="popup-2-question" class="scene question js-question"
  data-_game02--10="display: !none; z-index: !-1;"
  data-_game02-0="display: !block; z-index: !500;"
  data-_game02-10="display: !none; z-index: !-1;"
  ><div data-anchor="game02" data-shift="-50"></div></div>
<div id="popup-2-task" data-order="4"
  data-anchor="game02" data-shift="-100"
  data-_game02--100="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_game02--60="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_game02--40="top: 0%; opacity: 1; transform: scale(1, 1); margin: 0px 0px 0px 0px; z-index: 1025; @class: !popup active;"
  data-_game02-0="top: 0%; opacity: 1; transform: scale(.041, .074); margin: -602px 0px 0px -552px; z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="header text-shadow">2 КЕЗЕҢ</div>
        <div class="question text-shadow">Mevius қаптамасындағы Close & Seal технологиясының бірегейлігі неде?</div>
        <div class="footer text-shadow">Әншейін, өзіңіз таңдап алған шеңберлерді орталық шеңберге тасыңыз!</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="game02" data-shift="0">Бастаңыз!</a>
      </div>
    </div>
  </div>
</div>
