<div class="game js-game" data-type="none"
     data-_game01--2501="display: !none;"
     data-_game01--2500="display: !block;"

     data-_slide05--1="display: !block;"
     data-_slide05="display: !none;"

     data-_game02--2501="display: !none; z-index: !10;"
     data-_game02--2500="display: !block; z-index: !100;"

     data-_slide06-2000="display: !block;"
     data-_slide06-2001="display: !none;"

     data-_game03--3501="display: !none;"
     data-_game03--3500="display: !block;"

     data-_slide07-2000="display: !block;"
     data-_slide07-2001="display: !none;"

     data-_game04--3001="display: !none;"
     data-_game04--3000="display: !block;"

     data-_slide08-8000="display: !block;"
     data-_slide08-8001="display: !none;"
  >
  <div class="scene">
    <div class="overlay"
      data-_game01--3500="display: !block;"
      data-_game01--201="display: !none;"
      data-_slide05--2000="display: !block;"

      data-_game02--3500="display: !block;"
      data-_game02--201="display: !none;"
      data-_slide06--600="display: !block;"

      data-_game03--4500="display: !block;"
      data-_game03--1201="display: !none;"
      data-_slide07--600="display: !block;"

      data-_game04--3000="display: !block;"
      data-_game04-1899="display: !none;"
      data-_slide08-0="display: !block;"
    ></div>
    <div class="game-inner"
      data-_game01--2500="top: 2000px;"
      data-_game01--500="top: 55px;"

      data-_slide05--2000="top: 55px;"
      data-_slide05--0="top: -1055px;"

      data-_game02--2500="top: 2000px;"
      data-_game02--500="top: 55px;"

      data-_slide06="top: 55px;"
      data-_slide06-2000="top: -1055px;"

      data-_game03--3400="top: 2500px;"
      data-_game03--1800="top: 55px;"

      data-_slide07="top: 55px;"
      data-_slide07-2000="top: -1055px;"

      data-_game04--3000="top: 2500px;"
      data-_game04-1800="top: 55px;"

      data-_slide08="top: 55px;"
      data-_slide08-2000="top: -1055px;"
      >
      <div class="question-answers js-question-answers" data-state="0">
        <span class="question-answer answer-3 js-answer-3"><b></b><i></i></span>
        <span class="question-answer answer-2 js-answer-2"><b></b><i></i></span>
        <span class="question-answer answer-1 js-answer-1"><b></b><i></i></span>
      </div>

      <div class="bubble bubble-question js-droppable"><span></span></div>
      <div class="bubble bubble-answer bubble-position-1 js-draggable" data-value="1"><span></span></div>
      <div class="bubble bubble-answer bubble-position-2 js-draggable" data-value="2"><span></span></div>
      <div class="bubble bubble-answer bubble-position-3 js-draggable" data-value="3"><span></span></div>
      <div class="bubble bubble-answer bubble-position-4 js-draggable" data-value="4"><span></span></div>
      <div class="bubble bubble-answer bubble-position-5 js-draggable" data-value="5"><span></span></div>
      <div class="bubble bubble-answer bubble-position-6 js-draggable" data-value="6"><span></span></div>
    </div>
  </div>
</div>
