<%@ Page Language="C#" AutoEventWireup="true" CodeFile="game.aspx.cs" Inherits="Games_game" %>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Mevius</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<link rel="stylesheet" href="css/main.css">
	<script src="js/external/vendor/modernizr-2.8.3.min.js"></script>
  <script>
    APP = window.APP || {};
    APP.Helpers = APP.Helpers || {};
  </script>
</head>
<body class="kaz">

	<div class="bg">
    <div class="bg-1"
      data-0="opacity: 1;"
      data-1800="opacity: 1;"
      data-3600="opacity: 0;"
      data-_slide03-9300="opacity: 0;"
      data-_slide03-12300="opacity: 1;"
      ></div>
    <div class="bg-2"
      data-1800="opacity: 0;"
      data-3600="opacity: 1;"
      data-_slide03-9300="opacity: 1;"
      data-_slide03-12300="opacity: 0;"
      ></div>
	</div>
	<div class="panel"></div>

  <$ include preloader.html $>
  <$ include progress-bar.html $>
  <$ include game.html $>

  <div class="slides js-slides">
    <$ include slides/slide-01.html $>
    <$ include slides/slide-02.html $>
    <$ include slides/slide-03.html $>
    <$ include slides/slide-04.html $>
    <$ include slides/slide-05.html $>
    <$ include slides/slide-06.html $>
    <$ include slides/slide-07.html $>
    <$ include slides/slide-08.html $>
  </div>

  <div class="popups">
    <$ include popups/popup-welcome.html $>
    <$ include popups/popup-1-task.html $>
    <$ include popups/popup-1-complete.html $>
    <$ include popups/popup-2-task.html $>
    <$ include popups/popup-2-complete.html $>
    <$ include popups/popup-3-task.html $>
    <$ include popups/popup-3-complete.html $>
  </div>

	<!-- base -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/external/vendor/jquery-1.10.2.min.js"><\/script>')</script>
	<script src="js/external/vendor/jquery-ui.1.11.3.min.js"></script>

	<script src="js/external/plugins/touch-punch/jquery.ui.touch-punch.min.js"></script>
	<script src="js/external/plugins/jquery.lettering.js"></script>
	<script src="js/external/plugins/eliptext.js"></script>
  <script src="js/external/plugins/skrollr/skrollr.min.js"></script>

	<script src="js/helpers.js"></script>
	<script src="js/scroll-helper.js"></script>
	<script src="js/different.js"></script>
	<script src="js/app.js"></script>
	<script src="js/game.js"></script>
</body>
</html>