<div class="progress-bar"
  data-_slide04="right: -54px;"
  data-_slide04-1000="right: 0px;"
  data-_slide07-1500="right: 0px;"
  data-_slide07-2500="right: -54px;"
  >
  <div class="logo"
    data-_slide04="left: 0px; opacity: 0;"
    data-_slide04-1000="left: -161px; opacity: 1;"
    data-_slide07-1500="left: -161px; opacity: 1;"
    data-_slide07-2500="left: 0px; opacity: 0;"
  >
    <$ include svg/MW_letters.svg $>
    <img src="img/progress-bar/Mevius_small_propeller.png" alt="Mevius" class="image">
  </div>
  <div class="icons">
    <!-- lss1 -->
    <div class="icon">
      <div class="passed js-navigate" data-anchor="lss1" data-shift="0"
        data-_lss2--1="opacity: !0; left: !30px;"
        data-_lss2="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-0="       opacity: !1; left: !0px;"
        data-_lss2--1="opacity: !1; left: !0px;"
        data-_lss2="   opacity: !0; left: !30px;"
      ></div>
      <!--div class="open"></div-->
      <!--div class="closed"></div-->
    </div>

    <!-- lss2 -->
    <div class="icon">
      <div class="passed js-navigate" data-anchor="lss2" data-shift="0"
        data-_lss2--1="opacity: !1; left: !0px;"
        data-_lss2="   opacity: !0; left: !30px;"
        data-_cns1--1="opacity: !0; left: !30px;"
        data-_cns1="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-_lss2--1="opacity: !0; left: !30px;"
        data-_lss2="   opacity: !1; left: !0px;"
        data-_cns1--1="opacity: !1; left: !0px;"
        data-_cns1="   opacity: !0; left: !30px;"
      ></div>
      <!--div class="open"></div-->
      <!--div class="closed"></div-->
    </div>

    <!-- cns1 -->
    <div class="icon js-stage" data-stage="2">
      <div class="passed js-navigate" data-anchor="cns1" data-shift="0"
        data-_cns2--1="opacity: !0; left: !30px;"
        data-_cns2="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-_cns1--1="opacity: !0; left: !30px;"
        data-_cns1="   opacity: !1; left: !0px;"
        data-_cns2--1="opacity: !1; left: !0px;"
        data-_cns2="   opacity: !0; left: !30px;"
      ></div>
      <div class="open js-navigate" data-anchor="cns1" data-shift="0"
        data-_cns1--1="opacity: !1; left: !0px;"
        data-_cns1="   opacity: !0; left: !30px;"
        ></div>
      <div class="closed"
        data-_cns1--1="opacity: !1; left: !0px;"
        data-_cns1="   opacity: !0; left: !30px;"
        ></div>
    </div>

    <!-- cns2 -->
    <div class="icon js-stage" data-stage="2">
      <div class="passed js-navigate" data-anchor="cns2" data-shift="0"
        data-_r361--1="opacity: !0; left: !30px;"
        data-_r361="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-_cns2--1="opacity: !0; left: !30px;"
        data-_cns2="   opacity: !1; left: !0px;"
        data-_r361--1="opacity: !1; left: !0px;"
        data-_r361="   opacity: !0; left: !30px;"
      ></div>
      <div class="open js-navigate" data-anchor="cns2" data-shift="0"
        data-_cns2--1="opacity: !1; left: !0px;"
        data-_cns2="   opacity: !0; left: !30px;"
      ></div>
      <div class="closed"
        data-_cns2--1="opacity: !1; left: !0px;"
        data-_cns2="   opacity: !0; left: !30px;"
      ></div>
    </div>

    <!-- 361 -->
    <div class="icon js-stage" data-stage="3">
      <div class="passed js-navigate" data-anchor="r361" data-shift="0"
        data-_r362--1="opacity: !0; left: !30px;"
        data-_r362="   opacity: !1; left: !0px;"
      ></div>
      <div class="current"
        data-_r361--1="opacity: !0; left: !30px;"
        data-_r361="   opacity: !1; left: !0px;"
        data-_r362--1="opacity: !1; left: !0px;"
        data-_r362="   opacity: !0; left: !30px;"
      ></div>
      <div class="open js-navigate" data-anchor="r361" data-shift="0"
        data-_r361--1="opacity: !1; left: !0px;"
        data-_r361="   opacity: !0; left: !30px;"
      ></div>
      <div class="closed"
        data-_r361--1="opacity: !1; left: !0px;"
        data-_r361="   opacity: !0; left: !30px;"
      ></div>
    </div>

    <!-- 362 -->
    <div class="icon js-stage" data-stage="3">
      <!--div class="passed"></div-->
      <div class="current js-navigate"
        data-_r362--1="opacity: !0; left: !30px;"
        data-_r362="   opacity: !1; left: !0px;"
      ></div>
      <div class="open js-navigate" data-anchor="r362" data-shift="0"
        data-_r362--1="opacity: !1; left: !0px;"
        data-_r362="   opacity: !0; left: !30px;"
      ></div>
      <div class="closed"
        data-_r362--1="opacity: !1; left: !0px;"
        data-_r362="   opacity: !0; left: !30px;"
      ></div>
    </div>
  </div>
</div>
