<div id="popup-welcome" data-order="1" data-show-once="1"
  data-anchor="slide03" data-shift="12800"
  data-_slide03-12800="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide03-12850="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide04="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="top-text">Добро пожаловать в&nbsp;МИР МЕВИУС!</div>
        <ul style="list-style-type: none;">
          <li>Используйте колесико мыши (вниз/вверх), чтобы двигаться по&nbsp;экранам игры</li>
          <li>Внимательно читайте информацию на&nbsp;экранах.</li>
          <li>Используйте курсор (нажать-удержать-переместить) для ответа на&nbsp;вопросы</li>
          <li>Чтобы разблокировать следующий этап, нужно правильно ответить на&nbsp;все вопросы!</li>
        </ul>
        <div class="bottom-text">Воплотите будущее. Сегодня!</div>
        <a href="javascript:void(0);" class="button button-right js-popup-button"
          data-anchor="lss1" data-shift="0" data-duration="2000">Приступить</a>
      </div>
    </div>
  </div>
</div>
