<div id="popup-3-question" class="scene question js-question"
  data-_game03--1010="display: !none; z-index: !-1;"
  data-_game03--1000="display: !block; z-index: !500;"
  data-_game03--990="display: !none; z-index: !-1;"
  ><div data-anchor="game03" data-shift="-1050"></div></div>
<div id="popup-3-task" data-order="6"
  data-anchor="game03" data-shift="-1100"
  data-_game03--1100="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_game03--1060="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_game03--1040="top: 0%; opacity: 1; transform: scale(1, 1); margin: 0px 0px 0px 0px; z-index: 1025; @class: !popup active;"
  data-_game03--1000="top: 0%; opacity: 1; transform: scale(.041, .074); margin: -602px 0px 0px -552px; z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div>
        <div class="header text-shadow">ЗАДАНИЕ ···3···</div>
        <div class="question text-shadow">В&nbsp;чем уникальность и&nbsp;преимущество<br>
          фильтра 360<sup>o</sup> в&nbsp;сигаретах Mevius?</div>
        <div class="footer text-shadow">Просто перетащите выбранные вами круги на&nbsp;центральный круг!</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="game03" data-shift="-999">Приступить</a>
      </div>
    </div>
  </div>
</div>
