<div id="popup-3-complete" data-order="7" data-show-once="1"
  data-anchor="slide07" data-shift="-300"
  data-_slide07--300="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  data-_slide07--260="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide07--240="top: 0%; opacity: 1; transform: scale(1, 1); z-index: 1025; @class: !popup active;"
  data-_slide07--200="top: 0%; opacity: 0; transform: scale(0, 0); z-index: 100; @class: !popup;"
  >
  <div class="outer">
    <div class="noise">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="inner">
      <div class="level-finished">
        <div class="header text-shadow">ЭТАП ···3··· ЗАВЕРШЕН!</div>
        <div class="main-text text-shadow">Поздравляем,<br>вы&nbsp;разблокировали следующий этап</div>
        <div class="footer text-shadow">Нажмите &laquo;ПРОДОЛЖИТЬ&raquo;<br>
          и&nbsp;используйте прокрутку вниз-вверх</div>
        <a href="javascript:void(0);" class="button js-popup-button"
          data-anchor="slide07" data-shift="4501" data-duration="2000">Продолжить</a>
      </div>
    </div>
  </div>
</div>
