<div class="slide-04"
  data-_slide04--2="display: !none;"
  data-_slide04--1="display: !block;"
  data-_slide04-5000="display: !block; background: #000;"
  data-_slide04-11000="opacity: 1; display: !block;"
  data-_slide04-11200="opacity: 0; display: !none;"
  >
  <div class="scene">

    <div class="lss-mask">
      <div class="scene">
        <div class="dotted-bg">
          <div class="about-block"
            data-_slide04-5000="margin-left: 0px; opacity: 1;"
            data-_slide04-6500="margin-left: 1000px; opacity: 0;"
            >
            <div class="about"
              data-_slide04="opacity: .5; left: 1212px;"
              data-_slide04-2500="opacity: 1; left: 706px;"
              ></div>

            <div class="cigarette-paper"
              data-_slide04-3000="opacity: 0;"
              data-_slide04-3500="opacity: 1;"
              ><span
                data-_slide04-3200="opacity: 0; padding-left: 300px;"
                data-_slide04-3700="opacity: 1; padding-left: 0px;"
                >Екіқабат темекi қағазы</span></div>
          </div>
          <div class="cigarette"
            data-_slide04="left: 80px; top: 270px;"
            data-_slide04-500="left: 100px; top: 235px;"
            data-_slide04-1000="left: 140px; top: 165px;"
            data-_slide04-2500="left: 180px; top: 25px;"
            data-_slide04-5800="left: 180px;"
            data-_slide04-6800="left: 585px;"
            ></div>

          <div class="list"
            data-_slide04-6500="opacity: 0;"
            data-_slide04-7000="opacity: 1;"
            >
            Темекі түтінінің иісі азырақ:
            <div class="icon-hair"
              data-_slide04-7300="opacity: 0; left: -509px;"
              data-_slide04-7800="opacity: 1; left: -9px;"
            >шашта</div>
            <div class="icon-arm"
              data-_slide04-7700="opacity: 0; left: -509px;"
              data-_slide04-8200="opacity: 1; left: -9px;"
            >қолда</div>
            <div class="icon-car"
              data-_slide04-8100="opacity: 0; left: -509px;"
              data-_slide04-8600="opacity: 1; left: -9px;"
            >машинада</div>
            <div class="icon-around"
              data-_slide04-8500="opacity: 0; left: -509px;"
              data-_slide04-9000="opacity: 1; left: -9px;"
            >айналада</div>
            </div>
        </div>
      </div>

      <svg id="Layer_lss" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="1280px" height="980px" viewBox="0 0 1280 980"
        xml:space="preserve" preserveAspectRatio="xMidYMin"
        >
        <defs>
          <mask id="LSSmask">
            <rect x="0" y="0" fill="#FFFFFF" width="1280" height="980"/>
            <circle id="lssHole" cx="215" cy="280" r="850" transform="skewX(25), scale(1.5, 1.1)"
              data-_slide04="@r: 0;"
              data-_slide04-500="@r: 60;"
              data-_slide04-1000="@r: 140;"
              data-_slide04-2500="@r: 700; @cx: 215;"
              data-_slide04-6500="@r: 700; @cx: 215;"
              data-_slide04-7500="@r: 950; @cx: 215;"
            ></circle>
            <path fill="#ffffff" d="M0,815c0,0,1045,94.3,1280-815v2014H0V815z"
              transform="translate(0 1000)"
              data-_slide04-8500="@transform: translate(0 1000)"
              data-_slide04-13500="@transform: translate(0 -3000)"
              />
          </mask>
        </defs>
        <image style="mask: url(#LSSmask);" id="lssMaskImg" width="100%" height="100%" y="0px" x="0px"
          preserveAspectRatio="xMidYMin" xlink:href="img/bg/BG_01.jpg" />
        <image width="1286px" height="1141px" y="0px" x="0px" _transform="translate(0 200)"
          id="closingWave" xlink:href="img/mev_wave_transition_01.png"
          data-_slide04-8300="@y: 1000px"
          data-_slide04-13300="@y: -3000px"
          />
      </svg>
    </div>
  </div>
</div>
