<div class="slide-02"
  data-_slide02--2="display: !none;"
  data-_slide02--1="display: !block;"
  data-_slide04="display: !block;"
  data-_slide04-1="display: !none;"
  >
  <div class="scene">
    <div class="text-mission"
         data-_slide02="right: -700px; opacity: 0;"
         data-_slide02-500="right: -200px; opacity: 1;"
         data-_slide02-700="right: 0px; opacity: 1;"
         data-_slide02-1400="right: 0px; opacity: 1;"
         data-_slide02-1600="right: 200px; opacity: 1;"
         data-_slide02-2100="right: 700px; opacity: 0;"
      >MEVIUS-тің МИССИЯСЫ неде?</div>

    <div class="text-go-through"
         data-_slide02-1500="top: 215px; right: -700px; opacity: 0;"
         data-_slide02-2000="top: 215px; right: -200px; opacity: 1;"
         data-_slide02-2200="top: 215px; right: 0px; opacity: 1;"
         data-_slide02-2900="top: 215px; right: 0px; opacity: 1;"
         data-_slide02-5300="top: -5px; right: 0px; opacity: 1;"
         data-_slide02-7700="top: -5px; right: 0px; opacity: 1;"
         data-_slide02-10300="top: -655px; right: 0px; opacity: 0;"
      >
      <div>
        Ойынды бастан аяқ – барлық  4 кезеңінен өтіңіз
      </div>

      <div class="text-read-careful js-animate-image"
        data-src="img/svg/kaz/rules_read.svg" data-src-static="img/svg/kaz/rules_read_IE.svg"
        data-start="2600" data-end="8100"
        data-_slide02-2600="opacity: 0;"
        data-_slide02-3600="opacity: 1;"
        >
        <img src="img/s.gif" alt="">
        Әр кезеңде ақпаратты зейін<br>салып оқыңыз
      </div>

      <div class="text-answer js-animate-image"
        data-src="img/svg/kaz/rules_quest.svg" data-src-static="img/svg/kaz/rules_quest_IE.svg"
        data-start="3400" data-end="8700"
        data-_slide02-3400="opacity: 0;"
        data-_slide02-4400="opacity: 1;"
        >
        <img src="img/s.gif" alt="">
        Әр кезеңнің аяғында сұрақтарға<br>дұрыс жауап беріп
      </div>

      <div class="text-unlock js-animate-image"
        data-src="img/svg/kaz/rules_unlock.svg" data-src-static="img/svg/kaz/rules_unlock_IE.svg"
        data-start="4200" data-end="9300"
        data-_slide02-4200="opacity: 0;"
        data-_slide02-5200="opacity: 1;"
        >
        <img src="img/s.gif" alt="">
        ойынның барлық<br>кезеңдерін қоршаудан<br>босатыңыз
      </div>

      <div class="text-bonus js-animate-image"
        data-src="img/svg/kaz/rules_prize.svg" data-src-static="img/svg/kaz/rules_prize_IE.svg"
        data-start="5000" data-end="10000"
        data-_slide02-5000="opacity: 0;"
        data-_slide02-6000="opacity: 1;"
        >
        <div class="text-bonus-text">БОНУС АЛЫҢЫЗ</div>
        <img src="img/s.gif" alt="">
        Mevius-тің «Миссиямыз – жеңіске жету»<br>ойынының барлық кезеңінен өткеніңіз<br>үшін
      </div>
    </div>

    <div class="tip-sidebar"
      data-_slide02-5500="right: -54px;"
      data-_slide02-7000="right: 0px;"
      data-_slide02-10000="right: 0px;"
      data-_slide02-11500="right: -54px;"
      >
      <div class="tips"
        data-_slide02-5500="right: -270px; opacity: 0;"
        data-_slide02-7000="right: 25px; opacity: 1;"
        data-_slide02-10000="right: 25px; opacity: 1;"
        data-_slide02-11000="right: 25px; opacity: .3;"
        data-_slide02-12000="right: -270px; opacity: 0;"
        >
        <div class="passed"><span
          data-_slide02-9000="opacity: 1;"
          data-_slide02-9800="opacity: 0;"
          >Өткен кезең</span></div>
        <div class="current"><span
          data-_slide02-9000="opacity: 1;"
          data-_slide02-9800="opacity: 0;"
          >Ағынды кезең</span></div>
        <div class="open"><span
          data-_slide02-9000="opacity: 1;"
          data-_slide02-9800="opacity: 0;"
          >Кезең ашық</span></div>
        <div class="closed"><span
          data-_slide02-9000="opacity: 1;"
          data-_slide02-9800="opacity: 0;"
          >Кезең жабық</span></div>
      </div>
      <div class="icons">
          <div class="passed"></div>
          <div class="current"></div>
          <div class="open"></div>
          <div class="closed"></div>
      </div>
    </div>

    <div class="text-victory-mission"
      data-_slide02-7900="top: 1000px; opacity: 0;"
      data-_slide02-8400="top: 700px; opacity: 1;"
      data-_slide02-8900="top: 500px; opacity: 1;"
      data-_slide02-9400="top: 244px; opacity: 1;"
      data-_slide03-1000="opacity: 1;"
      data-_slide03-2000="opacity: 0;"
      >Mevius-тің «жеңіске жету Миссиясы»</div>
  </div>
</div>