<div class="slide-03"
  data-_slide03--2="display: !none;"
  data-_slide03--1="display: !block;"
  data-_game01--2001="display: !block;"
  data-_game01--2000="display: !none;"
  >
    <div class="scene">
      <div class="logo"
        data-_slide03-11800="opacity: 1;"
        data-_slide03-12300="opacity: 0;"
        >
        <div class="light-hor"
          data-_slide03="opacity: 0; transform: scaleX(0);"
          data-_slide03-1000="opacity: .6; transform: scaleX(1);"
        ></div>
        <div class="light-circle"
          data-_slide03-400="opacity: 0; transform: scale(0);"
          data-_slide03-700="opacity: .3; transform: scale(1);"
          data-_slide03-1000="opacity: .6; transform: scale(1);"
        ></div>
        <a href="javascript:void(0);"
          data-_slide03-1300="opacity: 0;"
          data-_slide03-2300="opacity: 1;"
        ></a>
        <div class="logo-text"
          data-_slide03-1000="top: 1000px; opacity: 0;"
          data-_slide03-1300="opacity: 1;"
          data-_slide03-3000="top: 271px; opacity: 1;"
          data-_slide03-4000="top: 271px; opacity: 1;"
          data-_slide03-4500="top: 185px; opacity: .3;"
          data-_slide03-4800="top: 185px; opacity: 0;"
        ></div>
        <div class="footnote"
          data-_slide03-1200="top: -25px; opacity: 0;"
          data-_slide03-2500="top: 6px; opacity: 1;"
          data-_slide03-4000="top: 6px; opacity: 1;"
          data-_slide03-4800="top: -25px; opacity: 0;"
        >* Қытайды қоспағанда, Euromonitor International 2013 деректері бойынша.</div>
      </div>
      
      <div class="info"
        data-_slide03-5300="top: 1000px; opacity: 0;"
        data-_slide03-6800="top: 436px; opacity: 1;"
        data-_slide03-8600="top: 436px; opacity: 1;"
        data-_slide03-9300="top: 436px; opacity: 0;"
        >
        <div class="info-blocks">
          <div class="info-filter"
            data-_slide03-8600="margin-top: 0px; margin-left: 0px;"
            data-_slide03-9300="margin-top: -100px; margin-left: -100px;"
            >бірегей сүзгісі көлемді әрі жағымды дәм береді</div>
          <div class="info-taste"
            data-_slide03-6800="top: 150px;"
            data-_slide03-7200="top: 0px;"
            data-_slide03-8600="margin-top: 0px;"
            data-_slide03-9300="margin-top: -100px;"
            >дәмді ұзағырақ  сақтау мүмкіндігін беретін технология</div>
          <div class="info-smell"
            data-_slide03-6800="top: 300px;"
            data-_slide03-7600="top: 0px;"
            data-_slide03-8600="margin-top: 0px; margin-left: 0px;"
            data-_slide03-9300="margin-top: -100px; margin-left: 100px;"
            >темекі иісі азырақ</div>
        </div>
        <div class="info-common"
          data-_slide03-6800="top: 400px;"
          data-_slide03-7600="top: 100px;"
          data-_slide03-8600="top: 100px;"
          data-_slide03-9300="top: 0px;"
          >Mevius – Қазақстан нарығындағы ең үздік  өңдеулер мен инновациялық технологияларды бірлестіретін
            жаңа өнім талғамы жоғары темекі шегушілер үшін ең үздік ұсыным.
        </div>
      </div>

      <div class="pack">
        <div class="text"
          data-_slide03-9300="opacity: 0;"
          data-_slide03-10300="opacity: 1;"
          data-_slide03-11800="opacity: 1; top: 341px; left: 300px;"
          data-_slide03-12300="opacity: 0; top: 390px; left: -80px;"
          >БОЛАШАҚТЫ ЖҮЗЕГЕ АСЫРУ</div>
        <div class="image"
          data-_slide03-9300="top: 1000px; opacity: 0;"
          data-_slide03-10300="top: 66px; opacity: 1;"
          data-_slide03-11800="top: 66px; opacity: 1;"
          data-_slide03-12300="top: -600px; opacity: 0;"
          ></div>
      </div>
  </div>
</div>
