<div class="slide-07 js-game4-bg"
  data-_slide07--1="display: !none; z-index: !0; opacity: 0; "
  data-_slide07="display: !block; z-index: !70; opacity: 0;"
  data-_slide07-1000="opacity: 1;"

  data-_game04--4500="top: 0px; background-position: 50% 0px;"
  data-_game04--1000="top: -4555px; background-position: 50% 4500px;"
  >
  <div class="wave js-game4-wave"
    data-_game04--6200="bottom: -2000px;"
    data-_game04--2300="bottom: 0px;"
    ></div>

  <div class="scene"
    data-_game04--2151="overflow: !visible;"
    data-_game04--2150="overflow: !hidden; height: 680px; border-radius: 0 0 200px 0;"
    data-_game04--1650="overflow: !hidden; height: 0px; border-radius: 0 0 600px 0;"
    >
    <div class="image"
      data-_slide07-3600="opacity: 0;"
      data-_slide07-4600="opacity: 1;"
      ></div>
    <div class="text1"
      data-_slide07-1500="opacity: 0; margin-left: 1000px;"
      data-_slide07-2500="opacity: 1; margin-left: 0px;"
    >Поздравляем!<br>Вы почти у&nbsp;цели!</div>
    <div class="text2"
      data-_slide07-2300="opacity: 0; margin-left: 1000px;"
      data-_slide07-3800="opacity: 1; margin-left: 0px;"
    >
      Теперь вы&nbsp;знаете<br>
      <span>3&nbsp;ключевых преимущества<br>сигарет MEVIUS</span>
    </div>
  </div>
</div>

<div class="game4-bg"
  data-_game04--3001="display: !none;"
  data-_game04--3000="display: !block;"
  >
  <div class="bg"
    data-_game04-0="margin-right: -800px;"
    data-_game04-1600="margin-right: -1400px;"
  ></div>
</div>

<div class="slide-07-continue"
  data-_game04--3001="display: !none;"
  data-_game04--3000="display: !block;"

  data-_game04-3000="display: !block;"
  data-_game04-3001="display: !none;"
  >
  <div class="scene">
    <div class="pack-left"
         data-_game04--3000="margin-top: 1500px; opacity: 0;"
         data-_game04--2500="margin-top: 1000px; opacity: 1;"
         data-_game04--1500="margin-top: 0px; opacity: 1;"
         data-_game04-500="margin-top: 0px;"
         data-_game04-2500="margin-top: -1500px;"
      ></div>
    <div class="pack-top"
      data-_game04--3000="margin-top: 1500px; opacity: 0;"
      data-_game04--2400="margin-top: 1000px; opacity: 1;"
      data-_game04--1300="margin-top: 0px; opacity: 1;"
      data-_game04-500="margin-top: 0px;"
      data-_game04-3000="margin-top: -1000px;"
      ></div>
    <div class="pack-bottom"
      data-_game04--2800="margin-top: 1500px; opacity: 0;"
      data-_game04--2300="margin-top: 1000px; opacity: 1;"
      data-_game04--1300="margin-top: -150px; opacity: 1;"
      data-_game04-500="margin-top: -150px;"
      data-_game04-1500="margin-top: -1000px;"
      ></div>
    <div class="text"
      data-_game04--2300="margin-top: 666px; opacity: 0;"
      data-_game04--1800="margin-top: 444px; opacity: 1;"
      data-_game04--1300="margin-top: 0px; opacity: 1;"
      data-_game04-0="margin-top: 0px; opacity: 1;"
      data-_game04-3000="margin-top: -500px; opacity: 0;"
      >Внимание, задание!
        <span
          data-_game04--2300="padding-top: 253px;"
          data-_game04--1300="padding-top: 53px;"
          data-_game04-0="padding-top: 53px; margin-top: 0px;"
          data-_game04-3000="margin-top: -170px;"
          >Взамен каких брендов вы<br>порекомендуете MEVIUS<br>своим покупателям?</span>
    </div>
  </div>
</div>
