<div class="slide-01"
  data-3600="display: !block;"
  data-5601="display: !none;"
  >
  <div class="left-waves">
    <div class="wave-1"
      data-1200="transform: scaleX(1); left: 0px; opacity: 1;"
      data-1800="transform: scaleX(1); left: -210px; opacity: 1;"
      data-3600="transform: scaleX(.5); left: -1210px; opacity: 0;"
    ></div>
    <div class="wave-2"
      data-1200="transform: scaleX(1); left: 0px; opacity: 1;"
      data-1800="transform: scaleX(1); left: -110px; opacity: 1;"
      data-3600="transform: scaleX(.5); left: -1110px; opacity: 0;"
    ></div>
    <div class="wave-3"
      data-1200="transform: scaleX(1); left: 0px; opacity: 1;"
      data-1800="transform: scaleX(1); left: -90px; opacity: 1;"
      data-3600="transform: scaleX(.5); left: -1090px; opacity: 0;"
    ></div>
    <div class="wave-4"
      data-1200="transform: scaleX(1); left: 0px; opacity: 1;"
      data-1800="transform: scaleX(.8); left: -40px; opacity: 1;"
      data-3600="transform: scaleX(.5); left: -1040px; opacity: 0;"
      ></div>
  </div>

  <div class="scene">
    <div class="logo"
      data-0="opacity: 1; left: 0px;"
      data-4800="opacity: 1; left: 0px;"
      data-5600="opacity: 0; left: -800px;"
      >

      <$ include ../svg/MW_letters.svg $>

      <img src="img/MW_logo.png" alt="Mevius" class="image">
    </div>

    <div class="lights">
      <div class="light-top"
        data-0="opacity: .99;"
        data-1200="opacity: .99;"
        data-3600="opacity: 0;"
      ></div>
      <div class="light-bottom"
        data-0="opacity: .99;"
        data-1800="opacity: 0;"
        ></div>
    </div>

    <div class="use-scroll"
      data-0="top: 2000px; opacity: 0;"
      data-1200="top: 615px; opacity: 1;"
      data-2000="top: 615px; opacity: 1;"
      data-3000="top: 2000px; opacity: 0;"
      >используйте<i></i>прокрутку</div>

    <div class="packs">
      <div class="pack-back"
        data-0="top: 1580px; opacity: 0;"
        data-300="top: 920px; opacity: .5;"
        data-600="top: 590px; opacity: 1;"
        data-1200="top: 260px; opacity: 1;"
        data-1800="top: -70px; opacity: 1;"
        data-2400="top: -400px; opacity: .5;"
        data-3000="top: -730px; opacity: 0;"
        ></div>
      <div class="pack-front"
        data-0="top: 935px; opacity: 0;"
        data-300="top: 585px; opacity: .5;"
        data-600="top: 410px; opacity: 1;"
        data-1200="top: 235px; opacity: 1;"
        data-1800="top: 60px; opacity: 1;"
        data-2400="top: -115px; opacity: 1;"
        data-3000="top: -290px; opacity: .5;"
        data-3600="top: -465px; opacity: 0;"
        ></div>
    </div>
  </div>
</div>
