<div class="slide-08"
  data-_slide08--1="display: !none; z-index: !0; opacity: 0; "
  data-_slide08="display: !block; z-index: !70; opacity: 0;"
  data-_slide08-1000="opacity: 1;"
  >
  <div class="left-waves">
    <div class="wave-1"
      data-_slide08-6200="transform: scaleX(.5); left: -1210px; opacity: 0;"
      data-_slide08-8400="transform: scaleX(1); left: -210px; opacity: 1;"
      data-_slide08-9500="transform: scaleX(1); left: 0px; opacity: 1;"
      ></div>
    <div class="wave-2"
      data-_slide08-6200="transform: scaleX(.5); left: -1110px; opacity: 0;"
      data-_slide08-8400="transform: scaleX(1); left: -110px; opacity: 1;"
      data-_slide08-9500="transform: scaleX(1); left: 0px; opacity: 1;"
      ></div>
    <div class="wave-3"
      data-_slide08-6200="transform: scaleX(.5); left: -1090px; opacity: 0;"
      data-_slide08-8400="transform: scaleX(1); left: -90px; opacity: 1;"
      data-_slide08-9500="transform: scaleX(1); left: 0px; opacity: 1;"
      ></div>
    <div class="wave-4"
      data-_slide08-6200="transform: scaleX(.5); left: -1040px; opacity: 0;"
      data-_slide08-8400="transform: scaleX(.8); left: -40px; opacity: 1;"
      data-_slide08-9500="transform: scaleX(1); left: 0px; opacity: 1;"
      ></div>
  </div>

  <div class="scene">
    <div class="lights">
      <div class="light-top"></div>
      <div class="light-bottom"
        data-_slide08-7900="margin-top: 0px; margin-left: 0px;"
        data-_slide08-9500="margin-top: 30px; margin-left: 70px;"
        ></div>
    </div>

    <div class="scene-1">
      <div class="logo"
        data-_slide08-2000="opacity: 0;"
        data-_slide08-3000="opacity: 1;"

        data-_slide08-5200="margin-top: 0px;"
        data-_slide08-6700="margin-top: -750px;"
        >

        <$ include ../svg/MW_letters.svg $>
        <img src="img/MW_logo.png" alt="Mevius" class="image">
      </div>

      <div class="text-congratulation"
        data-_slide08-1000="opacity: 0; margin-top: 1500px;"
        data-_slide08-4000="opacity: 1; margin-top: 0px;"

        data-_slide08-5200="opacity: 1; margin-top: 0px;"
        data-_slide08-6700="opacity: 0; margin-top: -750px;"
      >
        Поздравляем!
        <span>Миссия по&nbsp;запуску MEVIUS в&nbsp;Казахстане<br>&nbsp;успешно завершена!</span>
      </div>

      <div class="text-prize"
        data-_slide08-2500="opacity: 0; margin-top: 1500px;"
        data-_slide08-5500="opacity: 1; margin-top: 0px;"

        data-_slide08-6700="opacity: 1; margin-top: 0px;"
        data-_slide08-8200="opacity: 0; margin-top: -750px;"
      >
        Вы&nbsp;получите<br>1000 тенге на&nbsp;карту VISA
        <span>после завершения игры!</span>
      </div>
    </div>

    <div class="scene-2">
      <div class="pack"
        data-_slide08-7900="opacity: 0; margin-left: -1000px;"
        data-_slide08-9500="opacity: 1; margin-left: 0px;"
        data-_slide08-13000="background-position: !0% 0; left: 282px;"
        data-_slide08-13001="background-position: !0% 0; left: 282px;"
        data-_slide08-13401="background-position: !50% 0; left: 497px;"
        data-_slide08-13599="background-position: !100% 0; left: 604px;"
        data-_slide08-14000="background-position: !100% 0; left: 819px;"
        data-_slide08-14500="background-position: !100% 0;"
      ></div>
      <div class="mevius-logo"
        data-_slide08-7900="opacity: 0; left: -1437px;"
        data-_slide08-9500="opacity: 1; left: 637px;"

        data-_slide08-13000="left: 637px; top: 70px;"
        data-_slide08-14000="left: 617px; top: 50px;"
        ></div>
      <div class="texts"
        data-_slide08-12500="opacity: 1;"
        data-_slide08-13500="opacity: 0;"
      >
        <div class="text-you-know"
          data-_slide08-7900="opacity: 0; left: 2640px;"
          data-_slide08-9500="opacity: 1; left: 640px;"
          >
          Теперь вы&nbsp;знаете
          <span>что можете рекомендовать MEVIUS<br>своим покупателям,</span>
        </div>
        <div class="text-because"
          data-_slide08-8200="opacity: 0; left: 2640px;"
          data-_slide08-9800="opacity: 1; left: 640px;"
          >
          потому что MEVIUS<br>№1&nbsp;В&nbsp;МИРЕ
          <span>среди сигарет с угольным фильтром<sup>*</sup></span>
          <div>теперь и&nbsp;в&nbsp;Казахстане!</div>
        </div>
        <div class="logo-360"
          data-_slide08-10500="opacity: 0;"
          data-_slide08-10900="opacity: 1;"
        ></div>
        <div class="logo-lss"
          data-_slide08-10800="opacity: 0;"
          data-_slide08-11200="opacity: 1;"
        ></div>
        <div class="logo-cs"
          data-_slide08-11100="opacity: 0;"
          data-_slide08-11500="opacity: 1;"
        ></div>
      </div>
    </div>
  </div>

  <div class="scene frontscene">
    <div class="text-last"
      data-_slide08-13000="margin-left: -2000px; opacity: 0;"
      data-_slide08-14000="margin-left: 0px; opacity: 1;"
      >
      Следите за&nbsp;новостями на<br><span><a href="http://jticlub.com" target="_blank">сайте</a></span>
      и&nbsp;на&nbsp;<span><a href="http://jticlub.com" target="_blank">форуме</a></span>,
      <div>и&nbsp;<span>именно ВЫ</span><br>можете стать победителем<br>в&nbsp;розыгрыше лучших!</div>
    </div>
    <div class="footnote"
         data-_slide08-7900="opacity: 0; margin-left: -2640px;"
         data-_slide08-9500="opacity: 1; margin-left: 640px;"

         data-_slide08-12500="opacity: 1;"
         data-_slide08-13500="opacity: 0;"
      >* По&nbsp;данным Euromonitor International 2013. Исключая Китай.</div>
  </div>
</div>
