<div class="slide-06 js-game3-bg"
  data-_slide06--1="display: !none; z-index: !0; opacity: 0; "
  data-_slide06="display: !block; z-index: !70; opacity: 0;"
  data-_slide06-1000="opacity: 1;"

  data-_game03--4500="top: 0px; background-position: 50% 0px;"
  data-_game03--1000="top: -4555px; background-position: 50% 4500px;"
  >
  <div class="wave js-game3-wave"
    data-_game03--6200="bottom: -2000px;"
    data-_game03--2300="bottom: 0px;"
  ></div>

  <div class="scene"
    data-_game03--2151="overflow: !visible;"
    data-_game03--2150="overflow: !hidden; height: 680px; border-radius: 0 0 200px 0;"
    data-_game03--1650="overflow: !hidden; height: 0px; border-radius: 0 0 600px 0;"
    >
    <div class="light js-light-bg-parallax"
      data-_game03--2000="top: 400px;"
      data-_game03--500="top: 2300px;"
    ></div>
    <div class="cigarette"
      data-_slide06-50="margin-left: -840px; margin-top: 1395px; opacity: 0;"
      data-_slide06-1000="margin-left: -560px; margin-top: 930px; opacity: 1;"
      data-_slide06-2000="margin-left: 0px; margin-top: 0px;"
      data-_slide06-5000="margin-left: 0px; margin-top: 0px;"
      data-_slide06-6000="margin-left: -370px; margin-top: -125px;"
      ><div
        data-_slide06-2300="opacity: 0;"
        data-_slide06-3300="opacity: 1;"
      ></div></div>
    <div class="info"
      data-_slide06-2000="margin-left: -1000px; opacity: -2;"
      data-_slide06-3500="margin-left: 0px; opacity: 1;"
      data-_slide06-5000="margin-left: 0px; opacity: 1;"
      data-_slide06-6500="margin-left: -740px; opacity: -2;"
      >
      <div class="ico"
        data-_slide06-3500="opacity: 0;"
        data-_slide06-4000="opacity: 1;"
      ></div>
      Уникальный<br>инновационный фильтр
      <span>придает объемный<br>и&nbsp;приятный вкус</span>
    </div>
    <div class="info2"
      data-_slide06-5300="margin-left: 740px; opacity: 0;"
      data-_slide06-6500="margin-left: 0px; opacity: 1;"
    >
      <div class="ico"></div>
      Запатентованная технология JTI
      <span>Круговая перфорация<br>на&nbsp;основании фильтра</span>
      <div>Обволакивающая волна вкуса<br>и&nbsp;полнота ощущений на&nbsp;360<sup>о</sup></div>
    </div>
  </div>
</div>

<div class="game3-bg"
     data-_game03--3001="display: !none;"
     data-_game03--3000="display: !block;"
  >
  <div class="scene">
    <div class="light"></div>
  </div>
</div>
