<div class="slide-05"
  data-_slide05--1="display: !none;"
  data-_slide05="display: !block;"
  data-_slide05-6000="top: 0%;"
  data-_slide05-7000="top: -100%;"
  >
  <div class="scene">
    <div class="bg-5"
      data-_slide05="opacity: 0;"
      data-_slide05-500="opacity: 1;"
      >
      <div class="bg-5-bottom js-slide5-bg1"
        data-_slide05-300="opacity: -1; margin-top: -100%;"
        data-_slide05-1300="opacity: .3; margin-top: -10%;"
        data-_slide05-2300="opacity: .3; margin-top: -10%;"
        data-_slide05-3100="opacity: .7; margin-top: 0%;"
        data-_slide05-5000="left: 0px;"
        data-_slide05-6000="left: 730px;"
        >
        <div class="bg-5-top js-slide5-bg2"
          data-_slide05-5000="left: 0px;"
          data-_slide05-6000="left: -430px;"
        ></div>
      </div>
    </div>

    <div class="info"
      data-_slide05-300="opacity: 0; margin-top: 100%;"
      data-_slide05-1300="opacity: 1; margin-top: 10%;"
      data-_slide05-2300="opacity: 1; margin-top: 10%;"
      data-_slide05-3100="opacity: 1; margin-top: 0%;"
      data-_slide05-5000="left: 0px;"
      data-_slide05-6000="left: -508px;"
    >
      <div class="logo"
        data-_slide05-3500="opacity: 0;"
        data-_slide05-4000="opacity: 1;"
        data-_slide05-5000="opacity: 1;"
        data-_slide05-6000="opacity: 0;"
      ></div>
      <div class="text"
        data-_slide05-1300="opacity: 0;"
        data-_slide05-2000="opacity: 1;"
        data-_slide05-5000="opacity: 1;"
        data-_slide05-6000="opacity: 0;"
        >Специальная упаковка<br>с&nbsp;фиксатором,<br>
        <span>позволяющая сохранить<br>вкус дольше</span>
      </div>
      
      <div class="pack-glow">
        <div
          data-_slide05-1300="opacity: 0;"
          data-_slide05-2000="opacity: 1;"
        >
          <div class="pack"></div>
          <div class="action js-slide5-action"
            data-_slide05-5000="left: 291px; top: 39px;"
            data-_slide05-6000="left: 246px; top: 31px;"
          ></div>
        </div>
      </div>
    </div>

    <div class="info2"
      data-_slide05-6000="opacity: 0;"
      data-_slide05-6500="opacity: 1;"
      >
      Запатентованная<br>инновационная упаковка
      <span>Удобно закрывать и&nbsp;фиксировать пачку<br>Сохраняет свежесть табака</span>
    </div>
  </div>
</div>

<div class="game2-bg js-game2-bg"
  data-_slide05-6999="display: !none; top: 1500px; bottom: -1500px;"
  data-_slide05-7000="display: !block; top: 1500px; bottom: -1500px;"
  data-_slide05-8500="display: !block; top: 0px; bottom: 0px;"
>
  <div class="dots"
    data-_slide05-8500="top: 100px;"
    data-_slide05-8800="top: 0px;"
    ></div>

  <div class="scene"
    data-_game03--2000="top: -0px;"
    data-_game03--500="top: -2555px;"
    >
    <div class="light"></div>
  </div>

  <div class="wave js-game2-wave"
    data-_slide05-8500="margin-top: 0px;"
    data-_slide05-9500="margin-top: -1000px;"
  ></div>
</div>
