@keyframes answerOrbit1 {
	from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
	to   { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@keyframes answerOrbit2 {
	from { transform: rotate(360deg) translateY(13px) rotate(-360deg); }
	to   { transform: rotate(0deg) translateY(13px) rotate(0deg); }
}
@keyframes answerOrbit3 {
	from { transform: rotate(360deg) translateX(15px) rotate(-360deg); }
	to   { transform: rotate(0deg) translateX(15px) rotate(0deg); }
}


@keyframes answerBlue1 {
	0%   { background-color: rgba(59, 207, 249, .85); }
	17%  { background-color: rgba(59, 197, 249, .85); }
	33%  { background-color: rgba(43, 191, 240, .85); }
	50%  { background-color: rgba(43, 206, 240, .85); }
	67%  { background-color: rgba(43, 199, 232, .85); }
	83%  { background-color: rgba(43, 208, 232, .85); }
	100% { background-color: rgba(59, 207, 249, .85); }
}
@keyframes answerBlue2 {
	0%   { background-color: rgba(43, 206, 240, .85); }
	17%  { background-color: rgba(43, 199, 232, .85); }
	33%  { background-color: rgba(43, 208, 232, .85); }
	50%  { background-color: rgba(59, 207, 249, .85); }
	67%  { background-color: rgba(59, 207, 249, .85); }
	83%  { background-color: rgba(59, 197, 249, .85); }
	100% { background-color: rgba(43, 206, 240, .85); }
}
@keyframes answerBlue3 {
	0%   { background-color: rgba(59, 207, 249, .85); }
	17%  { background-color: rgba(43, 208, 232, .85); }
	33%  { background-color: rgba(43, 199, 232, .85); }
	50%  { background-color: rgba(43, 206, 240, .85); }
	67%  { background-color: rgba(43, 191, 240, .85); }
	83%  { background-color: rgba(59, 197, 249, .85); }
	100% { background-color: rgba(59, 207, 249, .85); }
}

@keyframes answerBlue4 {
	0%   { background-color: rgba(43, 208, 232, .85); }
	17%  { background-color: rgba(59, 207, 249, .85); }
	33%  { background-color: rgba(59, 207, 249, .85); }
	50%  { background-color: rgba(59, 197, 249, .85); }
	67%  { background-color: rgba(43, 191, 240, .85); }
	83%  { background-color: rgba(43, 206, 240, .85); }
	100% { background-color: rgba(43, 208, 232, .85); }
}

@keyframes answerBlue5 {
	0%   { background-color: rgba(43, 206, 240, .85); }
	17%  { background-color: rgba(43, 191, 240, .85); }
	33%  { background-color: rgba(59, 197, 249, .85); }
	50%  { background-color: rgba(59, 207, 249, .85); }
	67%  { background-color: rgba(59, 207, 249, .85); }
	83%  { background-color: rgba(43, 208, 232, .85); }
	100% { background-color: rgba(43, 206, 240, .85); }
}


@keyframes answerViolet1 {
  0%   { background-color: rgba(131, 42, 170, .85); }
  17%  { background-color: rgba(147, 78, 177, .85); }
  33%  { background-color: rgba(137, 78, 162, .85); }
  50%  { background-color: rgba(132, 65, 181, .85); }
  67%  { background-color: rgba(139, 50, 165, .85); }
  83%  { background-color: rgba(128, 73, 168, .85); }
  100% { background-color: rgba(131, 42, 170, .85); }
}
@keyframes answerViolet2 {
  0%   { background-color: rgba(131, 42, 170, .85); }
  17%  { background-color: rgba(147, 78, 177, .85); }
  33%  { background-color: rgba(137, 78, 162, .85); }
  50%  { background-color: rgba(132, 65, 181, .85); }
  67%  { background-color: rgba(139, 50, 165, .85); }
  83%  { background-color: rgba(128, 73, 168, .85); }
  100% { background-color: rgba(131, 42, 170, .85); }
}
@keyframes answerViolet3 {
  0%   { background-color: rgba(131, 42, 170, .85); }
  17%  { background-color: rgba(147, 78, 177, .85); }
  33%  { background-color: rgba(137, 78, 162, .85); }
  50%  { background-color: rgba(132, 65, 181, .85); }
  67%  { background-color: rgba(139, 50, 165, .85); }
  83%  { background-color: rgba(128, 73, 168, .85); }
  100% { background-color: rgba(131, 42, 170, .85); }
}

@keyframes answerViolet4 {
  0%   { background-color: rgba(131, 42, 170, .85); }
  17%  { background-color: rgba(147, 78, 177, .85); }
  33%  { background-color: rgba(137, 78, 162, .85); }
  50%  { background-color: rgba(132, 65, 181, .85); }
  67%  { background-color: rgba(139, 50, 165, .85); }
  83%  { background-color: rgba(128, 73, 168, .85); }
  100% { background-color: rgba(131, 42, 170, .85); }
}

@keyframes answerViolet5 {
  0%   { background-color: rgba(131, 42, 170, .85); }
  17%  { background-color: rgba(147, 78, 177, .85); }
  33%  { background-color: rgba(137, 78, 162, .85); }
  50%  { background-color: rgba(132, 65, 181, .85); }
  67%  { background-color: rgba(139, 50, 165, .85); }
  83%  { background-color: rgba(128, 73, 168, .85); }
  100% { background-color: rgba(131, 42, 170, .85); }
}


@keyframes answerDarkBlue1 {
  0%   { background-color: rgba(5, 71, 205, .85); }
  17%  { background-color: rgba(60, 66, 186, .85); }
  33%  { background-color: rgba(36, 66, 163, .85); }
  50%  { background-color: rgba(13, 38, 172, .85); }
  67%  { background-color: rgba(5, 71, 205, .85); }
  83%  { background-color: rgba(5, 43, 205, .85); }
  100% { background-color: rgba(5, 71, 205, .85); }
}
@keyframes answerDarkBlue2 {
  0%   { background-color: rgba(5, 71, 205, .85); }
  17%  { background-color: rgba(60, 66, 186, .85); }
  33%  { background-color: rgba(36, 66, 163, .85); }
  50%  { background-color: rgba(13, 38, 172, .85); }
  67%  { background-color: rgba(5, 71, 205, .85); }
  83%  { background-color: rgba(5, 43, 205, .85); }
  100% { background-color: rgba(5, 71, 205, .85); }
}
@keyframes answerDarkBlue3 {
  0%   { background-color: rgba(5, 71, 205, .85); }
  17%  { background-color: rgba(60, 66, 186, .85); }
  33%  { background-color: rgba(36, 66, 163, .85); }
  50%  { background-color: rgba(13, 38, 172, .85); }
  67%  { background-color: rgba(5, 71, 205, .85); }
  83%  { background-color: rgba(5, 43, 205, .85); }
  100% { background-color: rgba(5, 71, 205, .85); }
}

@keyframes answerDarkBlue4 {
  0%   { background-color: rgba(5, 71, 205, .85); }
  17%  { background-color: rgba(60, 66, 186, .85); }
  33%  { background-color: rgba(36, 66, 163, .85); }
  50%  { background-color: rgba(13, 38, 172, .85); }
  67%  { background-color: rgba(5, 71, 205, .85); }
  83%  { background-color: rgba(5, 43, 205, .85); }
  100% { background-color: rgba(5, 71, 205, .85); }
}

@keyframes answerDarkBlue5 {
  0%   { background-color: rgba(5, 71, 205, .85); }
  17%  { background-color: rgba(60, 66, 186, .85); }
  33%  { background-color: rgba(36, 66, 163, .85); }
  50%  { background-color: rgba(13, 38, 172, .85); }
  67%  { background-color: rgba(5, 71, 205, .85); }
  83%  { background-color: rgba(5, 43, 205, .85); }
  100% { background-color: rgba(5, 71, 205, .85); }
}


@keyframes answerColor1 {
  0% { background-image: url('../img/game/color/270.jpg'); background-color: #004fb1; }
  100% { background-image: url('../img/game/color/270.jpg'); background-color: #004fb1; }
}

@keyframes answerColor2 {
  0% { background-image: url('../img/game/color/280.jpg'); }
  100% { background-image: url('../img/game/color/280.jpg'); }
}

@keyframes answerColor3 {
  0% { background-image: url('../img/game/color/340.jpg'); }
  100% { background-image: url('../img/game/color/340.jpg'); }
}

@keyframes answerColor4 {
  0% { background-color: #aca9ac; }
  100% { background-color: #aca9ac; }
}

@keyframes answerColor5 {
  0% { background-color: #b30606; }
  100% { background-color: #b30606; }
}

@keyframes answerColor5 {
  0% { background-color: #004fb1; }
  100% { background-color: #004fb1; }
}


.answer-behavior-1.fail,
.game[data-type="color"] .answer-behavior-1 {
  animation: answerOrbit1 14s infinite ease !important;
  backface-visibility: hidden;
}
.answer-behavior-2.fail,
.game[data-type="color"] .answer-behavior-2 {
  animation: answerOrbit1 15s infinite ease !important;
  backface-visibility: hidden;
}
.answer-behavior-3.fail,
.game[data-type="color"] .answer-behavior-3 {
  animation: answerOrbit2 12s infinite ease !important;
  backface-visibility: hidden;
}
.answer-behavior-4.fail,
.game[data-type="color"] .answer-behavior-4 {
  animation: answerOrbit2 8s infinite ease !important;
  backface-visibility: hidden;
}
.answer-behavior-5.fail,
.game[data-type="color"] .answer-behavior-5 {
  animation: answerOrbit3 13s infinite ease !important;
  backface-visibility: hidden;
}
.answer-behavior-6.fail,
.game[data-type="color"] .answer-behavior-6 {
  animation: answerOrbit3 15s infinite ease !important;
  backface-visibility: hidden;
}

$colors: (
  answerBlue: '',
  answerViolet: 'violet',
  answerDarkBlue: 'dark-blue'
);

@each $animation, $class in $colors {
  .game[data-type="#{$class}"] {
    .answer-behavior-1 {
      animation: #{$animation}1 6s infinite linear, answerOrbit1 14s infinite ease;
      backface-visibility: hidden;
    }
    .answer-behavior-2 {
      animation: #{$animation}2 8s infinite linear, answerOrbit1 15s infinite ease;
      backface-visibility: hidden;
    }
    .answer-behavior-3 {
      animation: #{$animation}3 7s infinite linear, answerOrbit2 12s infinite ease;
      backface-visibility: hidden;
    }
    .answer-behavior-4 {
      animation: #{$animation}4 9s infinite linear, answerOrbit2 8s infinite ease;
      backface-visibility: hidden;
    }
    .answer-behavior-5 {
      animation: #{$animation}5 7s infinite linear, answerOrbit3 13s infinite ease;
      backface-visibility: hidden;
    }
    .answer-behavior-6 {
      animation: #{$animation}5 9s infinite linear, answerOrbit3 15s infinite ease;
      backface-visibility: hidden;
    }
  }
}
