@keyframes fade-in-out {
  0%   { opacity: .5; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes popup {
  0%   { opacity: 0;  transform: scale(0, 0); }
  50%  { opacity: 0;  transform: scale(0, 0); }
  60%  { opacity: .2; transform: scale(1, .05); }
  100% { opacity: 1;  transform: scale(1, 1);}
}

@keyframes popup-text {
  0%   { opacity: 0; }
  95%  { opacity: 0; }
  100% { opacity: 1; }
}

$spriteFramesCnt: 7;
$spriteFrameHeight: 436;
$spriteFrameSpeed: .2;
$popupAnimationSpeed: ($spriteFrameSpeed * ($spriteFramesCnt - 2) / 2);
$popupTextAnimationSpeed: ($spriteFrameSpeed * ($spriteFramesCnt - 1) / 2);

.popup {
  @include fixed(0, -50px, 0, -50px);

  display: none;
  background: rgba(0, 0, 0, .01);
  backface-visibility: hidden;

  .outer {
    @include abs(180px, 0, 0, 0);
    @include block(921px, 436px);

    margin: 0 auto;

    .noise {
      div {
        @include abs(0, 0, 0, 0);
        @include bg('popup/popup_visual_anim_sprt_w921h436.png', 50% 0);

        z-index: 20;
        opacity: 0;
      }

      @for $i from 0 through ($spriteFramesCnt - 1) {
        & > div:nth-child(#{$i + 1}) {
          background-position: 50% #{-($spriteFrameHeight * $i)}px;
          animation-delay: #{($i * $spriteFrameSpeed / 2)}s;
        }
      }
    }

    .inner {
      @include abs(36px, 0, 0, 0);
      @include block(664px, 371px);
      @include bg('popup/popup_body.png', 50% 50%);

      z-index: 50;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 53px 80px 0 52px;
      color: #fff;
      letter-spacing: -.02em;

      .level-finished {
        padding-top: 12px;
        text-align: center;
      }

      .text-shadow {
        text-shadow: #fff 0 0 5px;
      }

      .header {
        margin-top: -6px;
        font-size: 37px;
        margin-bottom: 28px;
      }

      .question {
        position: relative;
        font-size: 23px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 23px;

        span {
          font-size: 18px;
        }

        &:before {
          @include abs(1px, auto, 4px, -18px);
          @include block(1px, auto);

          content: '';
          background: #fff;
          box-shadow: 0 0 5px #fff;
        }
      }

      .main-text {
        margin: 0 -40px 32px -40px;
        font-size: 30px;
        font-weight: 300;
        line-height: 38px;
      }

      .footer {
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
      }

      .top-text {
        margin-bottom: 26px;
        font-size: 24px;
      }

      .bottom-text {
        font-size: 18px;
      }

      ul {
        margin: 0 0 35px 0;
        padding: 0 0 0 39px;
        list-style-type: none;
        color: #5fe9fe;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;

        li {
          padding: 0;
          margin: 0 0 8px 0;

          &:before {
            @include abs();

            content: '•';
            margin: 0px 0 0 -36px;
            font-size: 21px;
            text-shadow: #5fe9fe 0 0 5px;
          }
        }
      }

      .button {
        @include abs(290px, 241px);
        @include inline-block(185px, 40px);

        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #263b6b;
        font-weight: 300;
        font-size: 20px;
        line-height: 43px;
        background: #fff;
        box-shadow: 0 0 5px 0 #fff;
        transition: box-shadow .3s ease;

        &:hover {
          box-shadow: 0 0 5px 5px #fff;
        }

        &.button-right {
          right: 49px;
        }
      }
    }
  }

  // animation
  &.active {
    display: block;

    .noise div {
      animation: fade-in-out #{$spriteFrameSpeed}s linear;
      backface-visibility: hidden;
    }

    .inner {
      display: block;
      animation: popup #{$popupAnimationSpeed}s ease-out;
      backface-visibility: hidden;

      & > div {
        animation: popup-text #{$popupTextAnimationSpeed}s linear;
        backface-visibility: hidden;
      }
    }
  }
}

.scene.question {
  height: 40px;

  div {
    @include abs-point(10px, 350px);
    @include block(28px);
    @include bg('quest_button.svg');

    cursor: pointer;
  }
}
