$loaderDotTime: 5s;
$loaderDotTimeHalf: ($loaderDotTime / 2);
$loaderDotRange: 1500px;
$loaderDotsCount: 6;

.preloader {
  @include fixed(0, 0, 0, 0);
  @include block();
  @include bg-size('bg/BG_01.jpg', cover);

  z-index: 50;
  background-color: #b8e4f9;

  .logo {
    @include abs(0, 0, 0, 0);
    @include block(214px, 125px);
    @include bg-size('Mevius_preload_propeller.png');

    z-index: 10;
    margin: auto;
  }

  .loader {
    @include abs(200px, 0, 0, 0);
    @include block(0, 10px);

    z-index: 10;
    margin: auto;

    & > div {
      @include abs-point(auto);
      @include block(10px);

      z-index: 5;
      border-radius: 50%;
      background: radial-gradient(at center 35%, #fff, #d8d8d7);

      opacity: 0;
      left: $loaderDotRange;
      box-shadow: 0 35px 60px rgba(0, 0, 0, .3);

      animation: loader-opacity $loaderDotTimeHalf linear infinite alternate,
      loader-position $loaderDotTime cubic-bezier(0, .9, 1, .1) infinite,
      loader-shadow $loaderDotTimeHalf cubic-bezier(0, .55, .17, 1) infinite alternate;
      backface-visibility: hidden;
    }

    @for $i from 0 through $loaderDotsCount {
      & > div:nth-child(#{$i}) {
        animation-delay: ($loaderDotTime / 12) * $i;
      }
    }
  }
}

@keyframes loader-opacity {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader-shadow {
  0% {
    box-shadow: 0 35px 60px rgba(0, 0, 0, .3);
  }
  100% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  }
}

@keyframes loader-position {
  0% {
    left: $loaderDotRange;
  }
  100% {
    left: -$loaderDotRange;
  }
}
