.progress-bar {
  @include fixed(0, -54px, 0);
  @include block(32px, auto);

  padding-top: 233px;
  z-index: 512;

  &:before {
    @include abs(0, 0, 0, 0);
    @include block();
    @include bg-size('panel-right/progressbar-body.jpg', 100% 100%);

    content: '';
    opacity: .5;
  }

  .logo {
    @include abs-point(98px, 0px);

    opacity: 0;

    svg {
      @include block(105px, 40px);

      position: absolute;
    }

    .image {
      @include abs-point(-22px, 90px);
      @include block(47px, 27px);

      opacity: .99;
    }
  }

  .icons {
    margin: auto;
    width: 11px;

    .icon {
      @include rel-point(10px);
      @include block(11px, 17px);

      margin-top: 37px;
    }

    .icon + .icon:before {
      @include abs(-37px, 0, auto, 0);
      @include block(1px, 36px);

      content: '';
      background: #fff;
      margin: auto;
    }

    .icon > div {
      @include abs();
      @include block(11px, 17px);
      @include bg('progress-bar/SB_icon_ring.svg', 50% 50%);

      margin-bottom: 54px;
      opacity: 0;

      &.passed {
        background-image: url($imgBase + 'progress-bar/SB_icon_ring.svg');
        cursor: pointer;
      }

      &.current {
        background-image: url($imgBase + 'progress-bar/SB_icon_disk.svg');
      }

      &.open {
        background-image: url($imgBase + 'progress-bar/SB_icon_unlock.svg');
        cursor: pointer;
      }

      &.closed {
        background-image: url($imgBase + 'progress-bar/SB_icon_lock.svg');
      }
    }

    .icon.unlocked .open,
    .icon .closed {
      margin-left: 0;
    }

    .icon .open,
    .icon.unlocked .closed {
      margin-left: 30px;
    }
  }
}
